[2019-08-12 16:52] TylerLeonhardt opened #8 "Refactor Gui project to be general purpose"
Right now, we have `OutGridView.Gui` which obviously only supplies the GUI side of Out-GridView.

When we want to add other GUI tools like `Show-Command` and the likes we should refactor & rename `OutGridView.Gui` to `GraphicalTools.Gui` and figure out a way to signal `GraphicalTools.Gui` to show the `Show-Command` GUI instead of the `Out-GridView` GUI. This would allow us to reuse the Avalonia dl

[2019-08-12 16:54] TylerLeonhardt opened #9 "Support other release targets?"
Right now we support:

* `win-x64`
* `osx-x64`
* `linux-x64`

Should we support any others? Keep in mind, this increases the size of the package dramatically (around 100mb) because we have to ship an executable for that package.

[2019-08-12 22:17] TylerLeonhardt opened #10 "Rename GraphicalToolsModule project to Microsoft.PowerShell.GraphicalTools"
This is more consistent with our other modules like `Microsoft.PowerShell.Archive`, `Microsoft.PowerShell.Utility`, etc.

We also should change the name of the module (aka the psd1) to `Microsoft.PowerShell.GraphicalTools`

[2019-08-14 01:55] #10 closed, assigned to nobody

[2019-08-14 01:58] TylerLeonhardt opened #15 "Show-Command support"
This tracks support for the [Show-Command](https://docs.microsoft.com/powershell/module/microsoft.powershell.utility/show-command) cmdlet.

[2019-08-14 02:14] TylerLeonhardt opened #16 "Bring package size down"
The size of the module is around 290MB's because we ship standalone apps for

* `win-x64`
* `osx-x64`
* `linux-x64`

This is because of a limitation on non-Windows that forces us to use a separate process to render GUIs.

We can possibly get this down by using `AssemblyLoadContext.Default.Resolving` and copying duplicate dlls to a shared location. We might be able to do a similar tactic with dlls

[2019-08-14 17:44] TylerLeonhardt opened #18 "Add tests"
both unit and e2e tests

[2019-08-15 00:59] JustinGrote opened #22 "Get-ChildItem doesn't work either via -InputObject or via pipeline"
[code]
[code]

[2019-08-15 04:29] cadayton opened #23 "-OutPutMode not honored"
Name             : ConsoleHost
Version          : 6.2.1

ModuleType Version    Name                                PSEdition ExportedCommands
---------- -------    ----                                --------- ----------------
Script     0.1.1      Microsoft.PowerShell.GraphicalTools Core      {Out-GridView, ogv}

Test was trying to select a single row for further processing.

[2019-08-15 14:37] KirkMunro commented on #16
Related: [PowerShell PR #9908](https://github.com/PowerShell/PowerShell/pull/9908)

How about participating in that PR discussion so that we can have conditional nested modules that are OS-dependent?

In theory, with that PR in place (or something similar) assuming that the PowerShell Gallery did the right thing in such cases (which it should automatically if it's actually loading the manifest has

[2019-08-15 14:44] TylerLeonhardt commented on #16
This would be the ultimate solve for this issue https://github.com/PowerShell/PowerShellGet/issues/273

[2019-08-15 14:48] TylerLeonhardt commented on #16
I've managed to drop about 50mbs off the package using a custom assembly load event (load xplat dlls from one location rather than 3) and deleting dev dependencies that shouldn't ship with the product.

I think we can do even better with this approach while we wait for a better way offered by PSGet/Gallery

[2019-08-15 14:56] KirkMunro commented on #16
@TylerLeonhardt Which part of [PowerShell/PowerShellGet#273](https://github.com/PowerShell/PowerShellGet/issues/273) do you think would be the ultimate solve for the issue? The OP recommendation? Or what was suggested at the bottom by Joel?

[2019-08-15 15:39] danamatt opened #25 "Multiple filters are only '-or'. Would be nice to have '-and' as well"
For example, if i do

`PS | out-gridview`

Then in the filters so that SI:
doesn't equal 2
doesn't equal 0

Then it gives me results for both 2 and 0 becuase it is a -or clause:
`Where-Object {  $_.SI -NE '2' -or $_.SI -NE '0'  }`

Would be nice to be able to '-and' clause them:
`Where-Object {  $_.SI -NE '2' -and $_.SI -NE '0'  }`

[enhancement]
[feature request]

[2019-08-15 16:46] mrboring commented on #22
I have the same problem. However, if I select only files it works:

[code]
or just directories:
[code]

Maybe it's not handling a mix of types (file and folder). I did the same test on PowerShell 5.1 and it worked fine. I also noticed that on 5.1 only a small number of fields were output, whereas on 6.2 lots of fields were output.

[2019-08-15 16:50] cantoris opened #26 "Problems displaying output from Select-Object -Property *"
Get-Process | Select * | Out-GridView
Fails with "Process has exited, so the requested information is not available."
(System.InvalidOperationException,OutGridView.Cmdlet.OutGridViewCmdletCommand)
Works fine without the Select *.

Reproduced on Win10x64 b1809 and b1903 using PS 6.2.2 and 7.0.0 Preview 2.  Module is v0.1.1.

Trying the same with Get-Service | Select *  opens a GridView output windo

[2019-08-16 04:13] TylerLeonhardt commented on #22
Currently it doesn't handle mixed types at the moment. @jzeiders should have a fix for that in a PR tomorrow.

[2019-08-16 04:13] TylerLeonhardt commented on #23
@cadayton I'm a bit confused by this issue, can you go into more detail?

[2019-08-16 04:18] TylerLeonhardt commented on #26
@cantoris I can't repro this. I just ran `Get-Process | Select * | Out-GridView` and although it's very slow because of the amount of columns and data, it does open for me.

What you're seeing is very likely the result of giving it too much data. We should figure out how to handle large amounts of data like this.

[2019-08-16 04:20] TylerLeonhardt commented on #16
At the end of the day, PowerShellGet and the PowerShell Gallery are the customers. The scenarios should start there and work their way back to PowerShell. This probably does require a change in PowerShell, but what's needed should ultimately come from a PowerShellGet perspective.

[2019-08-16 11:54] cadayton commented on #23
Sure.   [-OutputMode {None | Single | Multiple}]

By default OutputMode is 'None' meaning selection of a row isn't possible.

With OutputMode of 'Single' selected, then any single row in the Out-GridView can be selected and the contents of that row are returned.  'Multiple' is similar but multiple rows can be selected rather than limiting the selection to a single row.

When there is a need to pre

[2019-08-16 14:16] golovini commented on #26
$a = Get-ChildItem c:\users | select name, length | Out-GridView -OutputMode Single
Doesn't work: no OK(Export) Cancel buttons (PSVersion: 7.0.0-preview.2).

[2019-08-16 14:21] golovini commented on #23
$a = Get-ChildItem c:\users | select name, length | Out-GridView -OutputMode Single
Desn't work: no OK(Export) Cancel buttons (PSVersion: 7.0.0-preview.2).

[2019-08-16 14:29] TylerLeonhardt commented on #23
Ah I see!

Yep this is not supported yet but as a workaround you can achieve similar behavior with `-PassThru`

[2019-08-16 14:38] golovini commented on #22
workaround: Get-ChildItem c:\users | select name, length | Out-GridView

[2019-08-16 19:25] ziabytes opened #28 "Out-Gridview does not display simple arrays"
Out-Gridview does not display simple arrays or simple lists

like 1 to 100

`1..300 | out-gridview`

would fail.

A new window would open but it would be blank in the content area no numbers.

While some may argue against supporting such a functionality, I will argue that say a long list of names being easily filtered visually via out-gridview  and passthru  was already a usecase before

[2019-08-16 19:48] jzeiders commented on #28
Definitely agree, the functionality is included in PR #27

[2019-08-16 22:58] TylerLeonhardt commented on #28
This is released now.

[2019-08-16 22:58] #28 closed

[2019-08-16 22:59] TylerLeonhardt commented on #22
mixed types are now supported.

[2019-08-16 22:59] #22 closed

[2019-08-17 01:47] TheTaylorLee commented on #26
Errors out for me as well. Works fine with limited properties. This is the error I get...

`PSMessageDetails      :
Exception             : System.InvalidOperationException: Process has exited, so the requested information is not available.
                           at System.Diagnostics.Process.EnsureState(State state)
                           at System.Diagnostics.Process.ToString()

[2019-08-19 03:43] mqmashwani opened #29 ""-ShowWindow" support for Get-Help"
This tracks support for the [Get-Help](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/get-help?view=powershell-6) cmdlet.

This is a request for enhancing Get-Help via proxy command which adds support for the "-ShowWindow" parameter.

It would be great to have support for hypertext. Ability to launch the default browser for web link would be great. The ability to laun

[2019-08-19 14:45] alienBear opened #30 "Copy Paste not supported from selected records in gridview output window"
In original out-GridView output window, records could be selected and then copied to the clipboard to paste into emails or spreadsheets.  This no longer appears to be possible under the current implementation.  This issue is similar to issue #23 .

**WorkAround Available:** I found I could accomplish what I needed in the short term with the following, but the output window is dismissed, so multipl

[2019-08-21 17:13] dprice opened #31 "Basic Use of "ls" Breaking"
I tried this basic command testing the module: `ls | ogv`

- Windows 5.1:
Works

- Windows Core 6.x &
[code]

Any ideas?

Thanks,
Derek

[2019-08-22 03:53] TylerLeonhardt commented on #31
@dprice what version of GraphicalTools are you using? (`Get-Module -list GraphicalTools`)

[2019-08-22 12:16] dprice commented on #31
[code]

[2019-08-22 14:58] TylerLeonhardt commented on #31
This issue should be fixed in 0.2.0 (Current latest). Keep in mind, the result won't look exactly like the old out-gridview because the views can only be accessed _within_ PowerShell but at least you shouldn't have this error.

[2019-08-22 14:58] #31 closed

[2019-09-23 16:36] MaximoTrinidad opened #32 "WSL - Unhandled Exception when executing Out-Gridview command"
**Description:**
In Windows Subsystem for Linux (WSL) the following exception occurs when executing the Out-Gridview command:
[code]
**Exception message:**
[code]
**Environment:**

Windows 10:
WSL 1 (Windows Build 1903) and 2 (Windows 10 Insider  Build 18985) - Linux Ubuntu 18.04

PowerShell 7 Preview.4

Microsoft.PowerShell.GraphicalTools v 0.2.0

![OG_03_2019-09-23_11-47-36](https://user-images.

[2019-09-23 20:06] TylerLeonhardt commented on #32
WSL will have to be special cased. It's the only scenario where we want the Windows code path to fire when we run within Linux.

Since WSL has no screen, this exception is expected. However, thanks to WSL being able to launch Winoows processes, we can take advantage of that to get this feature.

[2019-09-30 22:49] corbob commented on #15
@TylerLeonhardt is there any requirement to close out #8 prior to looking at this one? Would working on this prior to #8 increase the complexity of that issue?

[2019-10-01 01:07] TylerLeonhardt commented on #15
I think it would. The problem is, the GUI is very specific to Out-GridView, so the only way to do it today would be to create another GUI app for Show-Command which would crazily increase the size of this module.

cc @SteveL_MSFT

[2019-10-01 05:40] corbob commented on #8
I've started on this to help me wrap my head around how the function works.

I've broken it into a few steps of which I'm only on step 1:
1. Rename the OutGridView directories/files and references to the files themselves
2. Rename code references to OutGridView that are in the GraphicalTools.Gui and GraphicalTools.Model
3. Add a GuiComponent to ApplicationData that can be used to tell GraphicalToo

[2019-10-01 20:54] yobyot opened #33 "Out-GridView on macOS makes it difficult to select objects for the pipeline via -PassThru"
Consider the following cmdlet entry:

`Get-AzSubscription | Where-Object -Property State -eq "Enabled" | Out-GridView -PassThru | Select-AzSubscription`

With `Out-GridView`, it's should very easy to graphically select which subscription object from the collection you wish to pass to `Select-AzSubscription`. The code works, but the UI needs to make it clear which row is selected.

For example, it'

[2019-10-02 01:51] corbob commented on #8
🤔 I think I missed a step between 2 and 3 where I qualify some of the models and views as being for OGV...

[2019-10-02 01:58] corbob commented on #33
I don't think that's just a macOS thing. This is on Windows:

![image](https://user-images.githubusercontent.com/30301021/66012760-3e5f7900-e47d-11e9-902d-196c7720ef71.png)

I'll take a look at what is available.

[2019-10-02 02:37] corbob commented on #33
Ok, so the theme is pretty much applied by this line: https://github.com/PowerShell/GraphicalTools/blob/master/src/OutGridView.Gui/App.xaml#L10
If I remove the line I get this:
![image](https://user-images.githubusercontent.com/30301021/66014159-a6648e00-e482-11e9-966c-8219c66ef7e5.png)

and if I change the Light to Dark I get this (which is equally terrible):
![image](https://user-images.githubus

[2019-10-02 12:59] corbob commented on #30
🤔 I thought maybe this would be easy, but apparently it isn't...

https://github.com/PowerShell/GraphicalTools/blob/master/src/OutGridView.Gui/Views/DataGridView.xaml#L23 would seem to indicate there's a copy mode. Setting it to ExcludeHeader as per the [docs](http://avaloniaui.net/api/Avalonia.Controls/DataGridClipboardCopyMode/) results in an exception when you try to copy:
[code]

Noting that t

[2019-10-02 16:24] SteveL-MSFT commented on #33
Perhaps we should make the row separator color (cyan-ish) lighter (or darker for dark theme).  Then the selected color needs more contrast.

[2019-10-02 16:25] SteveL-MSFT commented on #32
I've seen some blog posts (not from Msft) on enabling x-windows on WSL which could make this work, but this is really outside the scope of this module for now.

[2019-10-02 18:11] MaximoTrinidad commented on #32
@SteveL-MSFT

Yes! But it only works on WSL-1 and not for the insider edition. I think this is due to the fact that it uses a VM (at least is my understanding).

[2019-10-02 19:35] yobyot commented on #33
@SteveL-MSFT IMO, less is more. If my suggestions are of any value, I'd suggest that the whole pallet goes more towards "grey." That is (for a light theme), black text on white with very subtle row highlighting.

Here's a simple example from Excel. For a dark theme, you could probably reverse it. What I like about the Excel example here is that even when you select a row that's dark colored, the s

[2019-10-02 21:15] SteveL-MSFT commented on #33
@yobyot your feedback is definitely appreciated.  I would personally be fine with a more subdued grey tones for the display and a non-grey color to indicate selection.  I would suggest we trust that Excel has done their user research and we should just borrow their colors for presentation and selection.

[2019-10-02 21:16] SteveL-MSFT commented on #32
@MaximoTrinidad yeah, that makes sense since WSL-1 was going through the NT Kernel and effectively was a Windows app while WSL-2 is a VM.  I don't see this being supported in WSL-2.

[2019-10-02 21:50] MaximoTrinidad commented on #32
@SteveL-MSFT

I just hope that in the future will work.  I'll keep praying for it!

:)

[2019-10-02 21:51] MaximoTrinidad commented on #32
Please feel free to close this issue if the bottom line is that won't be supported.
Thanks!

[2019-10-02 22:17] TylerLeonhardt commented on #32
The can be addressed as a feature. We just need to test for WSL and launch the Windows exe instead of the linux exe as that should work. Not sure if PassThru will work though.

[2019-10-02 23:55] TylerLeonhardt commented on #30
@corbob do you think we could get an issue going on Avalonia for this?

[2019-10-03 05:15] corbob commented on #30
@TylerLeonhardt I don't think an issue is happening with Avalonia, everything that I'm seeing indicates that even with WPF you need to create your own Copy handler, I just can't seem to get it to work (hence the question in discord about attaching a debugger). I'll spend some time on Monday trying to get a copy handler.

[2019-10-03 14:58] MaximoTrinidad commented on #32
@TylerLeonhardt

As a Feature for WSL-2! That would be nice.

Keep in mind! It works in WSL-1 Windows 10 RTM with Windows Xserver. This is Great!!

![WSL-1_Outgridview_2019-10-03_10-55-48](https://user-images.githubusercontent.com/19892435/66138490-b5575780-e5cc-11e9-8e12-b80e5f49e81e.png)

[2019-10-04 03:25] corbob opened #36 "How does one debug the GUI applications?"
I asked @TylerLeonhardt about this on Discord, and instead of keeping it hidden in Discord where it could disappear, I thought I would bring it out here: I am not able to debug the GUI application at all. Some of the things I have tried:

* Attach to the pwsh session that is running the GUI. This doesn't seem to work at all.
* Attach to the GUI process. This doesn't allow me to set breakpoints, bu

[2019-10-05 01:18] TylerLeonhardt commented on #36
I don't think you need to turn it on... But in the "attach to .NET Core process" launch.json, you can set `justMyCode` to `false` and see what happens.

[2019-10-05 04:40] corbob commented on #36
Well Setting `justMyCode` to `false` allows me to debug the cmdlet and step into it when attached to the pwsh session. But naturally once it passes into the new process that's where my stepping stops (even with `-PassThru` it doesn't enter the debugger when coming back from the gui portion.

When attached to pwsh, the cmdlet portions will set the breakpoints as available. When attached to the Gui

[2019-10-05 05:21] TylerLeonhardt commented on #36
So strange... The pdb files are next to the dlls for the GUI process, right?

[2019-10-08 02:54] #33 closed

[2019-10-08 21:36] corbob opened #38 "Feature request: have a dark theme that picks up on OS theme"
Avalonia provides a Dark Theme, but I'm not sure if it provides for detecting the OS mode.

If Avalonia can detect the OS mode (light vs dark), it would be really helpful to have the Gui components adopt a corresponding theme.

Possible technical solution:
* Detect the OS mode
* Modify the Dark theme provided by Avalonia to solve the contrast issue between selected rows and alternating rows.
* If

[2019-11-05 17:44] LBegnaud commented on #23
fyi `-passthru` is equivalent to `-outputmode multiple` in this (and legacy) cmdlet and is *not* the same as the legacy `out-gridview`'s `-outputmode single` mode.

[2019-11-06 17:05] alexbuzzbee commented on #29
Personally, I prefer `-Online` opening the help in the default browser.

[2019-11-09 10:49] ddneves opened #39 "Ctrl+A not working properly with -PassThrough"
Reproduction:
Mark all object with Ctrl+A - only the single selected one will be passed through but not all

Potential error:
Only the selected objects are retrieved, but it should probably be the "highlighted" (or other property)

[2019-11-12 16:26] wembleyford opened #40 "out-gridview and poorly named attributes"
Out-gridview doesn't support poorly chosen attribute names that otherwise must be escaped. E.g.

[code]
Fails with
[code]

The attribute can be accessed with syntax such as $foo."qm?".  While you'd hope users don't normally pick such attribute names, this does occur when importing/converting csv, etc.

the Windows out-gridview can support such attribute names.

Cheers
Dave

[2020-01-07 00:51] queks commented on #40
The same issue occurs if the attribute has a space in the middle. The workaround would be to enclose it in single quotes.

[2020-02-27 18:10] FireInWinter commented on #40
This is definitely a bug.  Name of a property shouldn't matter.

[2020-03-02 18:50] TylerLeonhardt commented on #40
Looks like these just need to be wrapped in quotes. A simple fix. Does anyone wanna give it a try?

https://github.com/PowerShell/GraphicalTools/blob/8cbf692a9d6ca87b15ba1242e37a2e6f4f3c219a/src/Microsoft.PowerShell.GraphicalTools/TypeGetter.cs#L117

https://github.com/PowerShell/GraphicalTools/blob/master/src/Microsoft.PowerShell.GraphicalTools/TypeGetter.cs#L146

[2020-03-03 21:17] keith68 opened #43 "out-gridview doesn't work if there is a space in the property name"
[code]

[2020-03-03 21:28] TylerLeonhardt commented on #43
This is a duplicate of #40

[2020-03-03 21:36] #43 closed

[2020-03-04 03:41] corbob opened #44 "Import-Module causes warning on PowerShell 7 RC3"
After running `Build.ps1` when the module is imported, and then does an `Out-GridView` on `Get-Process`. At the end of the build before this shows there appears to be a warning that couldn't write alias ogv as it is read only:

![image](https://user-images.githubusercontent.com/30301021/75842620-aea05c80-5d85-11ea-90d3-5337b257e880.png)

There's nothing in `$Error` hence why I think this is a warn

[2020-03-04 21:15] #40 closed

[2020-03-04 21:18] TylerLeonhardt commented on #44
Yeah... we need to change the name of the cmdlet to something else now that the original ogv is back.

[2020-03-07 15:51] chenrylee opened #49 "Out-ConsoleGridView Makes Arrow Keys Not Working"
# Steps to reproduce
1. Open the terminal (I'm using iTerm2) and run pwsh (my version is 7.0 GA)
2. Run any cmdlets and pipeline to `Out-ConsoleGridView`;<br />
[code]

3. Press `F9` and close the interface;
4. Press `up` key to quick refer the previous commands.

Now the `up` key doesn't work, I have to quit the terminal and re-open.

[2020-03-07 16:32] TylerLeonhardt commented on #49
Does it work again after you run something in the terminal like `gci`

[2020-03-07 16:55] alexandair opened #50 "[Out-ConsoleGridView] Output should be left-aligned not right-aligned"
All these resource groups start with "demo", but you cannot see that for half of them.

![image](https://user-images.githubusercontent.com/3135708/76147447-92a9fd00-609c-11ea-9506-f8a7702f37ef.png)

[2020-03-07 17:59] alexandair commented on #49
I can confirm the same issue in Ubuntu (WSL).

[2020-03-07 18:03] alexandair opened #51 "[Out-ConsoleGridView] Mouse doesn't work if Ubuntu (WSL) runs in Windows Terminal"
Mouse doesn't work if Ubuntu (WSL) runs in Windows Terminal.
It works if Ubuntu (WSL) runs in console host.

[2020-03-07 18:34] TylerLeonhardt commented on #51
This is a dupe of https://github.com/migueldeicaza/gui.cs/issues/332 and is external to ConsoleGuiTools.

[2020-03-07 18:34] #51 closed

[2020-03-07 18:36] TylerLeonhardt commented on #50
I could see a mode in the menu that lets you switch from/to left-aligned to right-aligned. That way both are supported.

[2020-03-07 18:37] TylerLeonhardt commented on #49
This is most certainly upstream... but I'll leave it open because I'm not sure which gui.cs issue to dupe it to and it could be fixed in one of the existing PRs.

[2020-03-07 22:21] thoemmi opened #52 "Remove friendly bail out on Windows when upstream gui.cs issue is resolved"
I have installed the ConsoleGuiTools module in PowerShell 7 on Windows 10 (Insider Preview, Slow Ring). However, when I call ` Get-Process | Out-ConsoleGridView`, I only get this error:
[code]

My `$PSVersionTable` says:
[code]

[2020-03-08 00:52] TylerLeonhardt commented on #52
The [blog post](https://devblogs.microsoft.com/powershell/introducing-consoleguitools-preview/) said that this module doesn't work on Windows yet due to a [gui.cs issue](https://github.com/migueldeicaza/gui.cs/issues/339).

I'm going to rename this issue to track the removing of the logic I added to ConsoleGuiTools to make the error message nicer.

[2020-03-08 00:59] chenrylee commented on #49
Nope, the only way is to restart PowerShell session, I even tried to remove and import module `PSReadLine`.

[2020-03-08 04:10] TylerLeonhardt commented on #49
This only seems to happen on Linux. macOS is not affected.

[2020-03-08 05:22] chenrylee commented on #49
Also on MacOS, I'm running pwsh 7.0 GA on Catalina, iTerm2.

[2020-03-08 06:57] TylerLeonhardt commented on #49
hmm I have the same setup and can't repro...

[2020-03-08 07:00] TylerLeonhardt commented on #49
ok the up arrow seems to work after calling out to a native executable like `ls` or `cat`.

[2020-03-08 08:54] chenrylee commented on #49
Yep, confirmed, same to me~  🌝

[2020-03-08 16:20] thoemmi commented on #52
Er, my bad. Sorry, haven't read the current limitations properly. Didn't expect that Windows isn't first class citizen :wink:

[2020-03-08 16:25] TylerLeonhardt commented on #52
Is usually is! But in this case there was nothing I can do short of digging into gui.cs' codebase.

[2020-03-09 17:57] TylerLeonhardt commented on #50
@SteveL-MSFT's work in #53 will greatly help with this.

[2020-03-09 21:10] GeeLaw opened #54 "[Feature Request] Check-box selection for `Out-GridView`"
Coped from PowerShell/PowerShell#12074

# Summary of the new feature/enhancement

When using `Out-GridView -PassThru`, the user might want to select multiple items. Currently, the user can add a range to selection by holding Shift, and add a particular item to selection by holding Ctrl. It would be much better if the user can do this more easily, without holding a key.

<img width="462" alt="Scree

[2020-03-10 17:12] TylerLeonhardt commented on #49
Looks like this affects all arrow keys.

[2020-03-10 18:12] TylerLeonhardt commented on #49
Emitting `"`e[?1h"` fixes this...

[2020-03-10 20:51] #49 closed

[2020-03-11 01:10] TylerLeonhardt commented on #52
Released :)

[2020-03-11 01:10] #52 closed

[2020-03-11 01:11] TylerLeonhardt commented on #50
Grab the latest version of this. It's a heck of a lot better.

[2020-03-11 01:47] TylerLeonhardt opened #57 "Project site 404's on PowerShell Gallery for ConsoleGuiTools"
Need to update the psd1

[2020-03-11 05:36] tig opened #58 "get-history | Out-ConsoleGridView with multi-line commands causes issues"
Start with:

[code]

Then

    get-history | Out-ConsoleGridView

Results in something ugly like this:

![image](https://user-images.githubusercontent.com/585482/76385686-94372780-631f-11ea-9c93-7e9d89189090.png)

Powershell 7.0.

[2020-03-11 06:06] TylerLeonhardt commented on #58
Looks like we just need to check if there are any newlines in the string here
https://github.com/PowerShell/GraphicalTools/blob/2aac3357e17e2f09b771cf4a49614fd02adcce96/src/Microsoft.PowerShell.ConsoleGuiTools/ConsoleGui.cs#L168-L176

and add an "..." just like the output of `Get-History` does.

[code]

[2020-03-11 06:06] TylerLeonhardt commented on #58
@tig any interest in contributing?

[2020-03-11 15:13] tig commented on #58
Maybe. I have source cloned and can build ;-).

Noted Contribution Guide is 404: https://powershell.github.io/GraphicalTools/CONTRIBUTING.html

Also, can you point me at instructions for how to debug this using VS code?

I set a BP on the line you pointed to and hit Debug in Code but hit issues that I don't understand (noob at using VS Code to debug; I generally use VS Studio).

[2020-03-11 15:42] tig opened #59 "Contribution Guide is 404"
Contribution Guide is 404: https://powershell.github.io/GraphicalTools/CONTRIBUTING.html

[2020-03-11 15:44] tig commented on #59
Dupe https://github.com/PowerShell/GraphicalTools/issues/57

[2020-03-11 15:44] #59 closed

[2020-03-11 16:09] TylerLeonhardt commented on #58
apologies for the 404! I'll get that fixed.

@tig take a look at [this section of the README for building.](https://github.com/PowerShell/GraphicalTools#development)

In order to debug VS Code, start a PowerShell process and import `ConsoleGuiTools`. Then in VS Code with the repo opened, go to the debug pane and select ".NET Core Attach". Then attach to the pwsh process that imported the module.

[2020-03-11 16:37] tig commented on #58
How do I know which process is which?

![image](https://user-images.githubusercontent.com/585482/76440930-d68e5200-637b-11ea-9923-690e97514f7d.png)

[2020-03-11 16:39] tig commented on #58
Nevermind. Found it `$pid`.

[2020-03-11 16:41] TylerLeonhardt commented on #57
updated the psd1... just pending a release now so I'll close this.

[2020-03-11 16:41] #57 closed

[2020-03-11 18:40] tig commented on #58
Is there some way to not have to kill the Windows Terminal session hosting `pwsh` every build/debug cycle? I've tried just starting a `pwsh.exe` instance from the command line, but that doesn't seem to free up the loaded cmdlet. I have to kill Terminal.

[2020-03-11 19:11] TylerLeonhardt commented on #58
You have to kill the pwsh.exe that imported the module because dlls can't be unloaded.

What I usually do is:

* open pwsh.exe
* in that pwsh.exe, run `pwsh` (thus nesting powershell)
* import the module and do debugging
* run `exit` to exit the nested PowerShell and run `pwsh` again

That way your window doesn't close... just the pwsh process within.

[2020-03-11 20:15] tig commented on #58
Ready to do a PR. before I do, here's the strategy I took...

Your suggestion was to check for `Environment.Newline` and just do an ellipsis.

First, in my example (not sure of others where there's multi-line commands) I'm seeing only `\n' and not `\r\n` as `Environment.NewLine` as defined for Windows.  So I am checking for `\n` only.

Second, just appending an ellipsis to the line is not very sat

[2020-03-11 20:39] SteveL-MSFT commented on #58
I think following PowerShell syntax, it may make more sense to replace `\n` with `` `n``.  Otherwise, this seems like a good improvement.

[2020-03-11 21:19] TylerLeonhardt commented on #58
I agree with @SteveL-MSFT

[2020-03-11 22:44] tig commented on #58
Got it. Found https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_special_characters?view=powershell-7

[2020-03-11 23:16] tig opened #61 "Exiting Output-ConsoleGridView GUI is too hard"
To exit the user has to press F9 then accept the confirmation.

Is there a reason this was made so multi-step?

Why not just have a keyboard shortcut (like ESC)?

[2020-03-11 23:40] TylerLeonhardt commented on #61
It's because I copied from an example 😅I'm not apposed to a single click button or single keyboard shortcut at all.

[2020-03-12 00:39] potatoqualitee commented on #61
Escape would be great to escape and then perhaps a double enter to make a selection? Or let's see how suse does it.  Accept down at the lower right similar to GUI with no confirmation.

[2020-03-12 01:37] gwojan commented on #61
I think the default should be just like how `Out-GridView` works...

[2020-03-12 02:54] tig commented on #61
Yeah. `Out-GridView` uses ESC to exit and ENTER to send selected items `out`.

Imma gonna look into doing it... Hold my beer.

[2020-03-12 03:01] corbob commented on #61
The way I would expect it to work would be: `ESC` returns nothing. If you're selecting multiple items, you select them with `Space`, and finally `Enter` would return whatever is selected (or under the cursor if nothing is selected).

[2020-03-12 04:44] tig commented on #61
Here's what I have working. I like it; seems very natural:

[code]

[2020-03-12 08:24] iSazonov commented on #58
"\r" and "\n" are not single control codes. Ideally we should escape output sting and mask all control characters and escape sequences.

[2020-03-12 12:47] potatoqualitee commented on #61
Boooooom so fast! Rad

[2020-03-12 15:06] tig commented on #58
I actually tried that (using `Regex.Escape`) and it didn't work well. That said, `Regex.Escape` uses `c/c++` style escaping, not `PowerShell` style. I vote leave it as-is for now as it fixes the UI-breaking problem caused by newlines.

[2020-03-12 15:29] #58 closed

[2020-03-12 15:30] TylerLeonhardt commented on #58
Yes, we can be iterative here and fix the newline characters first since they will be seen a lot more than others

[2020-03-12 16:23] chenrylee opened #63 "`Out-ConsoleGridView` Prevents `Test-Connection` Running"
I've tested it on both Windows 10 (19041.113) and MacOS (10.15.3):
- PowerShell 7.0 GA
- Microsoft.PowerShell.ConsoleGUITools 0.3.0

1. Run `Test-Connection 8.8.8.8`, it works;
2. Run `gci | Out-ConsoleGridView`, close it and run `Test-Connection 8.8.8.8`, it doesn't work, `CTRL` + `C` can't terminate it;
3. Close the window directly, and re-open the terminal;
4. Run `Test-Connection 8.8.8.8`, it

[2020-03-12 16:36] iSazonov commented on #63
In https://github.com/PowerShell/PowerShell/pull/11517 we fix such issue with WinForms. It seems the fix is not in 7.0 GA.

[2020-03-13 04:36] TylerLeonhardt commented on #63
I've tested this with the latest daily build of PowerShell and confirmed that it works now.

[code]

There's nothing we can do about this so I'll close it. 7.1.0-preview.1 should have the fix!

[2020-03-13 04:36] #63 closed

[2020-03-13 04:48] chenrylee commented on #63
<br />

Did I get the point? 😵

[2020-03-13 04:51] TylerLeonhardt commented on #63
hmm not sure. @SteveL-MSFT is this something worthy of servicing in a 7.0.1?

[2020-03-13 05:31] iSazonov commented on #63
I think the fix is important to have in 7.0 servicing because users us WinForms. Please vote in referenced PR.

[2020-03-13 06:43] chenrylee commented on #63
It was announced that it's a LTS release, so I think this bug will be fixed somehow in the coming releases. 🤔

[2020-03-13 14:37] kort3x opened #64 "broken on Win 10 19577?"
I installed the preview for Win10 19577 which seems to break this module.

Out-ConsoleGridView: Index was outside the bounds of the array.

PSVersion                     7.0.0
PSEdition                      Core
GitCommitId                    7.0.0
OS                             Microsoft Windows 10.0.19577
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0…}

[2020-03-13 14:48] kort3x commented on #49
issue persists on WSL2 on Win10 19577

[2020-03-13 14:52] kort3x commented on #64
also:

https://github.com/PowerShell/GraphicalTools/issues/49#issuecomment-598756593

[2020-03-13 18:55] #64 closed

[2020-03-13 18:55] kort3x commented on #64
nevermind - my bad

[2020-03-13 18:59] TylerLeonhardt commented on #64
No worries!

[2020-03-13 19:07] kort3x commented on #64
seems to be related to Terminal-Icons module

`dir | out-consolegridview` isn't working when Terminal-Icons has been imported.

Weird thing is that after the error is thrown once out-consolegridview isn't working at all anymore until I restart session/terminal. It just keeps throwing the same "bounds of array" error no matter what I pipe to it.

[2020-03-13 19:12] kort3x commented on #64
![image](https://user-images.githubusercontent.com/13918530/76652397-d00ffe00-6566-11ea-8684-86ddbb806b0a.png)

[2020-03-13 19:56] TylerLeonhardt commented on #64
Ahhh I've noticed this before... I don't think [gui.cs](https://github.com/migueldeicaza/gui.cs), that we depend on, handles non-ASCII characters well...

[2020-03-15 22:22] mklement0 opened #67 "PS Gallery package points to wrong GitHub URL"
is: https://github.com/PowerShell/ConsoleGuiTools/
should be: https://github.com/PowerShell/GraphicalTools

[2020-03-15 23:16] TylerLeonhardt commented on #67
This is already fixed in master, just pending a new release.

[2020-03-15 23:16] #67 closed

[2020-03-15 23:30] mklement0 commented on #67
My pleasure, Tyler.

[2020-03-18 13:25] DonPwrShellHunt opened #68 "When Filter and Passthru used together, items selected by [x] are not the ones returned"
See video on twitter from Steve Lee announcing Filter feature. After filtering, four items are selected and accepted for output to the pipeline, and the objects returned do not match the ones selected.

A link to the tweet showing this behavior> https://twitter.com/i/status/1240059991563763712

[2020-03-18 15:30] tig opened #69 "Mouse not working in Windows Terminal 0.10"
A new Windows Terminal build is out with console mouse support.

It's not working with `out-consolegridview`.

Note mouse support works fine in `cmd.exe` terminals.

Anyone know what needs to be implemented to support this?

[2020-03-18 15:59] TylerLeonhardt commented on #69
You'll wanna voice these concerns in this issue:

https://github.com/migueldeicaza/gui.cs/issues/332

There's nothing we can do in this module since we depend on gui.cs for mouse support.

[2020-03-18 16:00] #69 closed

[2020-03-18 16:31] #68 closed

[2020-03-18 23:10] SteveL-MSFT opened #71 "`Out-ConsoleGridView` should always have passthru"
Seems unnecessary to have to specify `-passthru`.  Instead, the user can just not select anything and nothing goes back to the pipeline.  I propose that pass thru is always enabled and remove the `-passthru` switch.  For new users, it more likely they wanted pass thru but now needs to rerun the pipeline and add that switch.

[2020-03-19 03:52] iSazonov commented on #71
The same is true  for GUI version.

[2020-03-19 12:35] corbob commented on #71
I think the biggest difference there would be that the console version is blocking execution and is expected to block execution. `Out-GridView` has an established norm that it does **not** block waiting for a return.

That's not to say that the GUI one shouldn't or couldn't be changed, just that there is a history to the GUI one that most people would expect it to behave that way.

[2020-03-20 09:25] LarsFosdal opened #73 "Request: Control over how columns are collapsed/truncated"
Example:
The two last columns contain long paths that typically only differ at the end.

![image](https://user-images.githubusercontent.com/7009177/77149960-0c75b980-6a93-11ea-944d-a54eabefa8cc.png)

It would be nice if you could select if columns should be collapsed/truncated from left or right and at a fixed length.
`Get-SourceData | Select-Object FactoryNo, LocationName, StagingPath, CentralUpg

[2020-03-20 09:35] iSazonov commented on #73
Best way to have a scrolling in column but it is difficult to implement.

[2020-03-20 22:21] TylerLeonhardt commented on #61
ESC is tough because it's typically used to close out of menus and whatnot. My ideal option would be:

* With PassThru (which will probably be the default behavior soon #71), two buttons at the bottom:
  * `Accept (<some keybinding>)` & `Close (<some keybinding>)`.
* Without PassThru, two buttons at the bottom:
  * `Close (<some keybinding>)`

 These would be buttons you could click or use a keybi

[2020-03-20 22:23] TylerLeonhardt commented on #61
A good first step to shave off some keyboard strokes is to keep the menu we already have and just delete the `Quit` method code:

https://github.com/PowerShell/GraphicalTools/blob/0406f50c1ca2bdff80917cbf979cbb4f1e7f56de/src/Microsoft.PowerShell.ConsoleGuiTools/ConsoleGui.cs#L61

[2020-03-20 22:29] gwojan commented on #61
Honestly, @TylerLeonhardt what's your objection to using the same keybindings as `Out-GridView`? It just seems so natural to me -- especially in passthru mode.

[2020-03-20 23:00] tig commented on #61
On Windows the keybinding to exit `out-gridview` is `alt-F4`. Not sure what it is on mac.

`alt-F4` in a Windows Terminal session will close it, not the contained `out-consolegridview`.

On Mac and Windows, `enter` is the standard keyboard idiom for exiting (accepting) a modal dialog. A console Cmdlet is a modal dialog.

On Mac and Windows, `esc` is the standard keyboard idiom for cancelling a mod

[2020-03-25 22:18] MaximoTrinidad opened #76 "Out-ConsoleGridView - Jupyter Lab Host getting hung when using OCGV in Notebook"
As per @TylerLeonhardt request, I'm circling back to the issue I posted in .NET Interactive repo:
https://github.com/dotnet/interactive/issues/311

This is impacting the Jupyter host kernel getting stuck with the only option to terminate the PowerShell console and start over Jupyter lab.

[2020-03-25 22:47] TylerLeonhardt commented on #76
In the Jupyter environment, `[Console]::IsInputRedirected` is True... while in regular pwsh.exe (be it local or CloudShell) `[Console]::IsInputRedirected` is False. This seems like a good enough check.

We can add the check to the `BeginProcessing`:
https://github.com/PowerShell/GraphicalTools/blob/1b17e63103e86b9249f0fdde499929b31589908e/src/Microsoft.PowerShell.ConsoleGuiTools/OutConsoleGridview

[2020-03-26 18:54] TylerLeonhardt commented on #61
Yeah ok that sounds good. The refactor work is done for now so feel free to send a new PR!

I'd say the PR should either:
* Just add the keybindings and leave the menu as it is
or
* Add the keybindings and replace the menu with buttons

[2020-03-27 20:09] #76 closed

[2020-03-31 13:27] PsychoData opened #78 "Feature Request - Out-GridView, define/pass "default" filters through Parameters"
Migrated from https://github.com/PowerShell/PowerShell/issues/12228

# Add parameters to enable you to pass default filters to Out-GridView windows for when they are first shown.

For example, if I was writing a process to look for processes of some sort, and I wanted to show a simple GUI to say which process to kill.

I could show them a list of all processes, but it would be a nice feature if I

[2020-03-31 18:02] hjorslev opened #79 "Out-ConsoleGridView -OutputMode Single - cannot select anything"
# Steps to reproduce

[code]
![image](https://user-images.githubusercontent.com/8019569/78059010-76426d00-7389-11ea-81f7-0cc9363fe84a.png)

# Expected behavior

An option to select one of the entries. If I run Out-GridView -OutputMode Single I can select one entry and have it returned back on the console:
![image](https://user-images.githubusercontent.com/8019569/78059153-adb11980-7389-11ea-86e3-0

[2020-03-31 22:58] TylerLeonhardt commented on #61
The only problem I have with that proposal is that the `-OutputMode` parameter is suppose to control that single ENTER behavior:

https://github.com/PowerShell/GraphicalTools/issues/79

[2020-04-13 04:40] tig commented on #61
I don't think #79 will be a problem.

I now have things working with your new code, however it depends on the new `StatusBar` that is now in `gui.cs` as of version `0.80.0`.

https://github.com/migueldeicaza/gui.cs/blob/49cd29853f5de55547c9011996ed982040607b5c/Terminal.Gui/Views/StatusBar.cs

But version `0.80 .0` has not dropped to nuget yet.

`StatusBar` makes this all so much better:

[code]

!

[2020-04-13 05:18] tig commented on #61
FWIW, I found where the bug in `gui.cs` is that was causing the filter code to crash:

https://github.com/migueldeicaza/gui.cs/issues/356

Looks nice!

![image](https://user-images.githubusercontent.com/585482/79094114-ae479980-7d13-11ea-8baa-e0a720806b23.png)

Workaround is this:

[code]

[2020-04-13 16:12] TylerLeonhardt commented on #61
looks a lot nicer in Windows Terminal too!

[2020-04-13 16:14] TylerLeonhardt commented on #61
Are Accept and Close clickable?

[2020-04-13 16:16] TylerLeonhardt commented on #61
My only concern is that Space to _select_ is not very discoverable.

[2020-04-13 16:22] tig commented on #61
Not yet (`StatusBar` doesn't support that). I've added it as an issue to `gui.cs`: https://github.com/migueldeicaza/gui.cs/issues/360

[2020-04-13 16:44] TylerLeonhardt commented on #61
Seems like we should wait until `StatusBar` is a bit more stable (and released 😅) before moving to that.

We can keep the top menu for now - but support the keybindings you've suggested.
Or
we can wait on gui.cs to get StatusBar out but from experience, the project does take time to do releases.

This is awesome work @tig. I'm a big fan!

[2020-04-15 19:22] yanrez commented on #79
I hit the same problem. I'm using  "-OutputMode Single" and expected dialog to close on Enter with line I've selected.
Multi selection is also non-intuitive - not being able to close on Enter, nor using Insert for marking lines is very annoying behavior :(

[2020-04-15 19:56] #71 closed

[2020-04-17 17:49] tig opened #82 "Filter TextView and Apply button don't honor horizontal resizing"
Now:
![](https://i.imgur.com/XE9V0dp.gif)

I have a PR ready for this, that looks like this:
![](https://i.imgur.com/psk6njq.gif)

[2020-04-17 18:52] tig commented on #79
This is fixed in a combination of

1) A PR to fix PR #81 - https://github.com/PowerShell/GraphicalTools/pull/86

2) A PR that introduces a status bar with ESC/ENTER support for Close/Accept. https://github.com/PowerShell/GraphicalTools/pull/86

I've filed this against `Terminal.gui`: https://github.com/migueldeicaza/gui.cs/issues/385

[2020-04-17 19:04] tig opened #87 "OCGV: Initial focus should be on the results (ListView)"
I have rarely had a need to use the filter functionality. Could just be my use-cases.

But I suspect the predominant use of `out-gridview` and `out-consolegridview` will be for quick & dirty "show me a smallish list and let me select something", not "show me a giant list and let me filter so I can select something".

Could be wrong.

But if I'm not, I think ListView should be the item that gets fo

[2020-04-18 05:03] dragonwolf83 commented on #87
Disagree strongly about turning Filtering off by default.

My primary use case of `Out-GridView` is filtering and sorting, then selecting. I often output large results from log files, directories, or data files which often is too much to mess with scrolling in the Console. I run `Out-GridView` to make sense of it and filter as I go. It is a core experience that I suspect is heavily used.

The defa

[2020-04-18 07:47] iSazonov commented on #87
I expect the filter is on by default. This does not force me to use it.

[2020-04-18 15:35] #82 closed

[2020-04-19 21:12] TylerLeonhardt opened #88 "apply button is on the left on non-Windows"
![image](https://user-images.githubusercontent.com/2644648/79699997-b0e04c80-8247-11ea-8994-6a85560702a3.png)

maybe it's a good time to get rid of it since the Changed event is working.

cc @tig @SteveL-MSFT

[2020-04-19 21:24] tig commented on #88
Fixed in https://github.com/PowerShell/GraphicalTools/pull/85

[2020-04-19 21:25] tig commented on #88
(and FWIW, if you resized the terminal horizontally it would paint correctly; this is a bug in `gui.cs` where it does not paint controls positioned using `Dim` and `Pos` correctly initially).

[2020-04-19 21:36] tig opened #89 "Filters do not work right in out-consolegridview"
In the `/GraphicalTools` directory run:

[code]

## In the filter box, type a period (`.`).

Nothing happens. Expected: only files with periods in their names would show.

## Try escaping the period (assuming it's expecting a regex): `\.`.

Get an error.

## Try an underscore (`_`)

Nothing happens. Expected: only files with underscores in their names would show (`CODE_OF_CONDUCT.md`).

## Try `.m

[2020-04-19 21:42] tig opened #90 "Out-GridView should remember window position"
I find it super annoying to have to resize it on my wide monitor. The default size it uses is crazy wide.

![](https://i.imgur.com/BQ8yxn7.png)

[2020-04-19 21:49] tig commented on #87
The `Out-GridView` implementation focuses on the listbox by default, which is one of the reasons I raised this Issue. I think they should behave the same.

Do we have any data on the % of users who use `ocgv` for filtering vs. just selecting things?

[2020-04-19 22:49] TylerLeonhardt commented on #89
Yes I have a feeling that when the Changed event started working, our logic was wrong.

[2020-04-19 23:11] tig opened #91 "Out-ConsoleGridView does not exit on `ctrl-c`"
By default, `gui.cs` apps quit when the user hits `ctrl-c`. I personally am not a fan of this behavior because `ctrl-c` should be for copy (and `ctrl-v` for paste and `ctrl-x` for cut). However, it's the way it is right now.

I noted that without any apparent explicit code, `ocgv` does not exit on `ctrl-c`. Did someone do this intentionally or is it a byproduct of being a cmdlet?

[2020-04-19 23:34] #88 closed

[2020-04-19 23:34] TylerLeonhardt commented on #90
Is this the _original_ out-grid view? If so, that needs to go in the PowerShell/PowerShell repo (and there might be an existing issue)

[2020-04-19 23:36] TylerLeonhardt commented on #89
fix out for this.

[2020-04-19 23:38] TylerLeonhardt commented on #87
We want to keep filter on because:

* it doesn't take up too much space
* it's useful to be a single click away

If this is the case, I'm for making the change to make the list view have focus over the filter.

[2020-04-19 23:39] TylerLeonhardt commented on #91
It might be a byproduct of being a cmdlet. I wouldn't expect `ctrl-c` to quit `ocgv` either especially since we're explicit on `ESC` quitting.

[2020-04-19 23:43] TylerLeonhardt commented on #61
This is fixed now pending a new release

[2020-04-19 23:43] #61 closed

[2020-04-19 23:55] tig commented on #90
I'm an idiot. Yes, I was running the old one. I just assumed `import-module` of the .dll that `ocgv` was in would have `ogv` in it too. I never ran it with `-verbose` so just assumed...

Much better default size. I still think it should remember size/position.

[2020-04-20 00:01] tig commented on #87
I was running the old `ogv` when I noted the focus is on the listbox by default.

In the `Powershell/GraphicalTools` version that is incorrect; the focus, by default, is not set at all. You have to hit tab to get it to focus on the `Quick Search` box.

So:

1) The original `ogv` had focus on the results by default.
2) The new `ogv` doesn't set focus at all.
3) `ocgv` currently sets focus on the fi

[2020-04-20 00:03] tig opened #93 "OCGV: Initial focus should be on the results (list)"
For consistency both with `ocgv` and the OG `ogv`, when `ogv` starts, the focus should be on the results list.

related: #87

[2020-04-20 00:04] TylerLeonhardt commented on #90
Should we close this then since it's about the old ogv?

[2020-04-20 00:06] TylerLeonhardt commented on #93
Did you mean OGV in the title?

[2020-04-20 00:19] tig opened #94 "OGV & OCGV - inconsistent UI"
![image](https://user-images.githubusercontent.com/585482/79703318-3d9b0280-8268-11ea-97a7-c9ff8602fe3a.png)

![image](https://user-images.githubusercontent.com/585482/79703349-805cda80-8268-11ea-877a-014c5f167000.png)

1) *Filter/Search Functionality* - Is it "Filter" or "Quick Search"? I recognize that `ocgv` is (and may always be behind) fn from `ogv` but shouldn't the terminology be the same?

[2020-04-20 00:27] tig commented on #90
No, because I changed the title to be more specific to a valid feature request (that the new one doesn't save / restore it's window pos).

[2020-04-20 03:27] #89 closed

[2020-04-21 10:49] iSazonov commented on #90
Is it possible on Unix? On Windows Registry is used to remember Windows size and position.

[2020-04-21 13:53] tig commented on #90
You just need somewhere to store one each of:

    public enum FormWindowState
    {
        //
        // Summary:
        //     A default sized window.
        Normal = 0,
        //
        // Summary:
        //     A minimized window.
        Minimized = 1,
        //
        // Summary:
        //     A maximized window.
        Maximized = 2
    }

   Point

   Size

You do not need to use

[2020-04-21 14:08] iSazonov commented on #90
Can you point SettingsService API?

[2020-04-29 16:08] TylerLeonhardt opened #95 "Mouse clicks rarely work... delay shipping?"
Because of this issue https://github.com/migueldeicaza/gui.cs/issues/386 that @tig opened, mouse clicks rarely work _anywhere_.

* I can't click the list view
* I can't click the filter box
* And the status bar isn't clickable (separate issue but adds to this)

This is very unfortunate because although the experience is good for keyboard users, it's un-usable for mouse users.

I wanted to use my m

[2020-04-29 16:13] SteveL-MSFT commented on #95
Looks like there was a PR that was merged to improve mouse perf.  If we can get a new gui.cs release with that change, we can verify if this is still an issue.

[2020-04-30 16:17] tig opened #96 "Putting results of ocgv on command line erases cursor"
I may be missing something, but this feels like a bug in `GraphicalTools`:

I want to define `F7` as "Show command history using ocgv":

[code]

If I hit `F7` I get, as expected:
![image](https://user-images.githubusercontent.com/585482/80733729-4e9b0d80-8acb-11ea-8456-31f001539368.png)

I hit `ENTER` and get:
![image](https://user-images.githubusercontent.com/585482/80733759-5bb7fc80-8acb-11ea-81

[2020-05-01 02:29] TylerLeonhardt commented on #96
@daxian-dbw do you have any insight here?

This is a really cool usecase of ocgv!

[2020-05-01 04:23] tig commented on #96
I agree. I've wanted a better history for a long time.

If  you use this a lot, you'll see why I wanted `ENTER` to "select and exit".

I still think we should make `-OutputMode Single` operate this way.

[2020-05-01 17:46] daxian-dbw commented on #96
The console grid view is using the same console buffer and I guess it clears the buffer when exiting.
PSReadLine certainly doesn't expect the whole buffer got wiped out :)
Maybe the console grid view should be displayed on an alternate screen buffer, and it switches back to the main screen buffer when exiting.

[2020-05-01 18:13] TylerLeonhardt commented on #96
@daxian-dbw

I was under the impression that this is how gui.cs works  - in an alternate screen buffer. Since that's the only way to control the whole screen. But maybe I'm wrong?

[2020-05-01 21:17] daxian-dbw commented on #96
I don't know if gui.cs does that, but if the text on main screen buffer gets wiped out after `Out-ConsoleGridView`, then it's likely not using an alternate screen buffer.

[2020-05-02 01:14] tig commented on #96
@migueldeicaza: can you comment on this?

[2020-05-04 20:01] tig commented on #96
This here's the code:

https://github.com/migueldeicaza/gui.cs/blob/8b2624074174e4ab271cc176cc5f1801d13f561b/Terminal.Gui/Drivers/WindowsDriver.cs#L61

[code]

Sure looks to me like `gui.cs` is using a second screen buffer, and restoring the original, to me.

[2020-05-05 18:37] jasper-zanjani opened #97 "Out-ConsoleGridView does not accept XML data"
While manipulating XML data and testing `Out-ConsoleGridView` (Powershell 7.0.0 on Windows 10.0.19603), I noticed that the cmdlet appears to demand data of a certain datatype. For testing, a sample XML file can be found [here](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ms762271(v=vs.85) "sample.xml").
[code]
Tabular output from `$xml` can be viewed in the terminal
[code]

O

[2020-05-06 23:50] TylerLeonhardt commented on #97
hmm I can't seem to repro this...

![image](https://user-images.githubusercontent.com/2644648/81239371-874e5180-8fb9-11ea-9e83-4fe9efbb1acc.png)

I had it repro'ing once but that PowerShell instance seemed to be corrupted in some way...

It might be that the next version of gui.cs that we depend on will have more stability here.

[2020-05-12 18:45] tig commented on #95
@TylerLeonhardt not sure what you mean by this. Tab currently switches between the filter edit box and the list. Are you suggesting it should also go to status bar? I don't think it should. Everything on the status bar is actionable with a keystroke. This is also different from how most GUI apps with status bars work (tab never takes you there).

FWIW, mouse is working fine for me in `ConEmu` and

[2020-05-12 19:10] tig commented on #91
I verified with Miguel that exiting on ctrl-c is not the intended behavior for `gui.cs` apps. Thus I retract my question and am closing this issue because it is working correctly.

[2020-05-12 19:10] #91 closed

[2020-05-12 19:56] tig commented on #96
@daxian-dbw can you see anything the Windows driver for `gui.cs` could be doing, that it's not, that might fix this? I do believe all the relative code is above.

[2020-05-12 21:15] daxian-dbw commented on #96
@tig what I meant about the alternate buffer is https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences#alternate-screen-buffer
Maybe `Out-ConsoleGridView` should send the sequences `ESC[?1049h` to switch to a new alternate screen buffer before drawing anything, and switch back to the primary screen buffer by `ESC[?1049l` before it exists. That theoretically will preser

[2020-05-12 22:07] tig commented on #96
This helps. I think I have found the bug in `gui.cs` that is causing this based on your tip.

I'll see if I an find time tonight to verify and fix.

Thanks!

[2020-05-12 22:36] daxian-dbw commented on #96
@tig Can you share a little more on the potential bug? I'm curious :)

[2020-05-13 01:49] tig commented on #96
Not 100% confident  this is the root of the problem yet, but `WindowsDriver.cs` does a `Console.Clear()` before it ends up calling `CreateConsoleScreenBuffer` as shown above. Thus, even thought the logic is there to allocate and use a different screen buffer, it clears the existing one.

[2020-05-13 16:39] tig opened #99 "OCGV: Move "Set cursor key to application mode" fix to gui.cs"
https://github.com/PowerShell/GraphicalTools/blob/ad01f86e0fb93c606461ba60cb2b5aea4318a737/src/Microsoft.PowerShell.ConsoleGuiTools/ConsoleGui.cs#L295

I think this may be a bug that impacts all `gui.cs` apps and should be fixed there. However, I don't fully understand what the user impact of the bug described in these comments was and how setting the cursor key to application mode fixed it. Can y

[2020-05-13 16:41] TylerLeonhardt commented on #99
Yeah I needed to bring it over to gui.cs but it was easier to just "fix it here"

[2020-05-13 17:18] tig commented on #96
@daxian-dbw I have convinced myself the problem here is `gui.cs` is calling `Console.Clear()` before it creates and uses the alternative screen buffer (via `CreateConsoleScreenBuffer`). I found using the ANSI escape codes as you suggested makes no difference, but by simply commenting out the call to `Console.Clear()` fixes this issue.

Before I go further I need to confirm two things:

1. That, un

[2020-05-13 17:25] tig commented on #99
Thanks. I'm confused though. Why is this needed? Why is it needed AT EXIT?

[2020-05-13 17:30] tig commented on #99
https://github.com/PowerShell/GraphicalTools/issues/49

I bet this is a non-Windows issue, right? Because if I comment out that line I can't repro #49 on Windows...

[2020-05-13 17:50] daxian-dbw commented on #96
I cannot be sure about this, but I think it very likely using the `CreateConsoleScreenBuffer` and `SetConsoleActiveScreenBuffer` under the hood.

[2020-05-13 18:20] TylerLeonhardt commented on #99
Very possible.

[2020-05-13 18:21] TylerLeonhardt commented on #99
btw if you ever need a cheap linux environment https://shell.azure.com is a great testing ground for OCGV behavior.

[2020-05-13 18:26] tig commented on #99
Thanks. I actually use that (and WSL) here and there. The real problem is my dev skillz are barely adequate on Windows, and just getting started being able to enlist and build `GraphicalTools` on Linux is a bit much for me right now. I'm capable, it's just time.

[2020-05-14 00:36] tig commented on #99
@TylerLeonhardt I got PS working on WSL and am sooo close. However, I can't figure out how to install dotnet core 3.1.102 on Ubuntu because the latest RPM installs 3.1.202. When I do `invoke-build build` I get this:

![image](https://user-images.githubusercontent.com/585482/81879525-466db400-9548-11ea-982b-2df92eaecce3.png)

If I change `global.json` to specify `3.1.202` I get this:

![image](http

[2020-05-14 02:04] TylerLeonhardt commented on #99
That second error is random and not our fault. Can you run it again?

[2020-05-14 16:22] tig commented on #99
Different machine, same result. I've run it a dozen times. Has anyone else successfully built GraphicalTools on linux using `dotnetcore 3.1.202` by changing `global.json` as:

[code]

[2020-05-14 19:38] TylerLeonhardt commented on #99
from your first screenshot it looks like you need to install zlib

[2020-05-14 20:49] tig commented on #99
Nope, zlib is installed (via https://www.systutorials.com/how-to-install-the-zlib-library-in-ubuntu/). That was what I first tried. I believe this error is due to the fact I don't have donnetcore 3.1.102 installed. Because I can't easily install it. Because it's been superseded by 3.1.202.

![image](https://user-images.githubusercontent.com/585482/81983948-60170600-95f1-11ea-9f7f-284bd5a7475c.png)

[2020-05-14 20:56] TylerLeonhardt commented on #99
can you delete the `.dotnet` in GraphicalTools and try the build again?

[2020-05-14 21:36] tig commented on #99
That was it. Thanks!

Woot!

![image](https://user-images.githubusercontent.com/585482/81988414-a328a780-95f8-11ea-921b-c7c7ebc431a3.png)

[2020-05-14 21:38] tig commented on #96
Just verified the bad behavior described here does not repro on Linux. My little F7 script above works awesome under Ubuntu on WSL!

[2020-05-14 22:56] TylerLeonhardt commented on #99
![](https://media.giphy.com/media/d3Kq5w84bzlBLVDO/source.gif)

[2020-05-14 22:57] TylerLeonhardt commented on #99
You've got that issue in gui.cs open now - can we close this one?

[2020-05-14 23:04] TylerLeonhardt commented on #95
@tig I'm on macOS - iTerm2 is my terminal.

[2020-05-15 01:05] tig commented on #99
It's not fixed here until it's fixed there. Isn't it best practice to leave the issue open until there's a PR that fixes the issue (in this case, deletes the code from `Dispose`)? That PR can't happen until there's a build of `gui.cs` that def fixes the issue.

[2020-05-15 16:37] tig commented on #99
@TylerLeonhardt Can you please comment out this fix and see if you can reproduce this? I cannot get this to reproduce on Linux under WSL. I've tried with both Windows Terminal and the WSL terminal. I don't have a mac to test on. I've double checked that I'm using my build of ocgv with that line commented out and that I did NOT fix it in `gui.cs` yet ;-).

I can't move this to `gui.cs` until I have

[2020-05-18 05:21] jasper-zanjani commented on #97
I just updated to 7.0.1 and I am getting the same error, any new ideas?

[2020-05-18 14:32] TylerLeonhardt commented on #97
Can you paste the output of `Get-Error`?

[2020-05-19 18:30] TylerLeonhardt commented on #99
Yeah I can't repro anymore. That's interesting.

[2020-06-13 02:12] mpearon opened #100 "Possible issues with Ubuntu 20.04"
# Environment
## $PSVersionTable
Name|Value
--|--
PSVersion|7.1.0-preview.3
PSEdition|Core
GitCommitId|7.1.0-preview.3
OS|Linux 5.4.0-37-generic #41-Ubuntu SMP Wed Jun 3 18:57:02 UTC 2020
Platform|Unix
PSCompatibleVersions|1.0, 2.0, 3.0, 4.0…}
PSRemotingProtocolVersion|2.3
SerializationVersion|1.1.0.1
WSManStackVersion|3.0
## Get-Module | Select-Object Name,Version
Name|Version
--|--
Microsoft.Pow

[2020-06-13 19:54] corbob commented on #100
Can confirm, I'm able to reproduce this issue. Laptop was on 19.10, worked fine. Updated to 20.04 and now `Out-GridView` doesn't work 🤔

[2020-06-16 20:59] TylerLeonhardt commented on #100
Thanks for opening this. At this time, I think we will be waiting to migrate GraphicalTools to [.NET MAUI](https://devblogs.microsoft.com/dotnet/introducing-net-multi-platform-app-ui/) as we are not planning on investing resources on the Avalonia-based Out-GridView at this time.

I would recommend taking a look at ConsoleGuiTools as a replacement until we move further along with MAUI.

[2020-06-17 20:37] mpearon commented on #100
@TylerLeonhardt - Understood!  Thank you for the information! :)

[2020-06-17 21:17] TylerLeonhardt commented on #100
we can leave this open though :)

[2020-07-06 16:15] TylerLeonhardt opened #101 "NOTICE: No more work is being done on Avalonia-based Out-GridView until we move to .NET MAUI"
.NET MAUI: https://devblogs.microsoft.com/dotnet/introducing-net-multi-platform-app-ui/

[2020-07-06 16:16] TylerLeonhardt commented on #100
closing this in favor of #101

[2020-07-06 16:16] #100 closed

[2020-07-06 16:17] TylerLeonhardt commented on #95
Someone suggested we release what we have as a prerelease on the Gallery allowing folks to opt-in to the better keyboard experience but degraded mouse experience. Seems like a good idea.

[2020-07-06 16:46] tig commented on #95
I'm a fan of doing that.

We're rapidly converging on a `0.90` release of `Terminal.gui` where mouse performance will be much better. I plan on diving into `ocgv` this week to update it to `0.90` and ensure we didn't break anything. The goal is to have `0.90` released this week or next.

[2020-07-06 17:13] TylerLeonhardt commented on #95
That'd be perfect

[2020-07-13 22:26] yecril71pl commented on #29
`-Online` does not work for `about_*`.

[2020-07-13 22:27] yecril71pl commented on #29
Please make sure the new help window has a paging margin defined.

[2020-07-15 15:15] tig commented on #95
Head's up, `0.90` is imminent.

I've got a PR ready for `GraphicalTools` for when it's out.

https://github.com/migueldeicaza/gui.cs/issues/792

[2020-07-15 15:53] TylerLeonhardt commented on #95
awesome!

[2020-08-16 19:06] mivalsten opened #102 "OCGV: Simplified UI Feature Request"
Hello,
Firstly, thanks for awesome package, I really love it.

I have a feature request for UI modification - Would it be possible to change UI so that when ENTER is pressed on the main window, it works as F9+Accept? Current workflow is quite clunky and slow.
Alternatively, to not break backward compatibility / muscle memory, a switch like `-QuickAccept` could be introduced that modifies this beha

[2020-08-19 08:40] solomonsunder opened #103 "Out-GridView does not work on Ubuntu 20.04 LTS"
I had OGV working on Ubuntu 18.04 LTS. But does not work anymore on 20.04 LTS. I have PowerShell 7.0.3.

[2020-08-19 08:45] solomonsunder commented on #103
Duplicate of #100

[2020-08-19 08:45] #103 closed

[2020-08-21 01:00] TylerLeonhardt commented on #95
@tig how are we looking? :)

[2020-08-24 18:31] tig commented on #95
Close. I just pushed a test of `0.90`'s nuget package and am currently tweaking my PR for `ocgv`. Hopefully today!

[2020-08-28 20:04] TylerLeonhardt commented on #97
gentle ping on this

[2020-08-28 20:15] TylerLeonhardt commented on #102
You know what, @tig did this work and it's in master. We're just waiting for the next release of gui.cs before we can ship it 😄 stay tuned!

[2020-08-28 20:15] TylerLeonhardt commented on #102
I'm going to mark this as a duplicate of #95 but really this issue is fixed already.

[2020-08-28 20:16] #102 closed

[2020-08-28 21:14] jasper-zanjani commented on #97
I just went through the same steps, creating an XML object from the same test file above.
[code]
[code]

[2020-08-29 09:04] mivalsten commented on #102
Thank you! :)

[2020-09-15 18:22] ThomasNieto commented on #101
@TylerLeonhardt Once MAUI comes out would all the GUI commands in PowerShell move to this repo and be cross-platform? Also, how big is the dependency and can it be bundled in PowerShell directly like WinForms and WPF.

[2020-09-16 01:34] TylerLeonhardt commented on #101
We have no plans to take the ones that are apart of PowerShell out. This is purely for a cross-platform module that would be available in addition to the ones that ship in box.

It's unclear how big the dependency will be at this time as MAUI isn't out yet. We'll have more info as that becomes available.

[2020-09-25 05:34] Agazoth opened #104 "Alignment is off in Get-AzContext -ListAvailable | Out-ConsoleGridView"
Get-AzContext -ListAvailable with a mix of contexts that have very long and very short (renamed) names, Out-ConsoleGridView aligns the objects wierd.

Not sure if this is caused by the objects from Get-AzContext -ListAvailable or by Out-ConsoleGridView.

Reproduce:
Have 2 or more AzContexts. Rename one of them to something short. run:
[code]
![image](https://user-images.githubusercontent.com/15127

[2020-09-25 14:29] TylerLeonhardt commented on #95
@tig how's it going? Need any help?

[2020-09-25 15:57] tig commented on #95
Appreciate the prod. I think we know what it is and how to fix. I am hoping to find time today.

What I need to do:

1) Update GraphicalTools to use the pre-0.90 branch of gui.cs (`<PackageReference Include="Terminal.Gui" Version="0.89.4" />`) - Some of the breaking changes impacted GraphicalTools. Done. But I can't remember what machine I did it on and it doesn't look like I pushed to my github.

[2020-09-25 16:49] tig commented on #95
Ok. I did almost NO testing, so please play a bunch. See PR `update_guics_090` https://github.com/PowerShell/GraphicalTools/pull/105

[2020-09-27 15:58] tig commented on #99
This can be closed.

[2020-09-27 15:58] tig commented on #96
This can be closed.

[2020-09-27 15:59] tig commented on #94
With #107 this can be closed, I believe.

[2020-09-27 16:00] tig commented on #93
I think this can be closed with #107

[2020-09-27 16:00] tig commented on #50
This can be closed now, I believe.

[2020-09-27 17:25] #79 closed

[2020-09-27 17:25] TylerLeonhardt commented on #23
reopening as this is about GraphicalTools

[2020-09-27 18:01] tig opened #109 "Add -Filter switch to set initial filter"
In the latest variant of the  "F7 for History" script @SteveL-MSFT used `Select-Object` `-like` to filter the history based on what was already on the command line.

I think this would be much slicker if we could pass an initial text to the cmdlet to use as a filter. E.g.

[code]

Then the script could change to:

[code]

Full script here: https://gist.github.com/tig/cbbeab7f53efd73e329afd6d4b8381

[2020-09-27 18:04] #94 closed

[2020-09-27 18:05] #93 closed

[2020-09-27 18:07] #96 closed

[2020-09-27 18:09] #50 closed

[2020-09-27 18:09] #99 closed

[2020-09-27 23:51] dfinke opened #111 "Colorization needs help for CodeSpaces"
Launched vsc from CodeSpaces and installed the `Microsoft.PowerShell.ConsoleGuiTools`.

Just the factory defaults for everything.

![image](https://user-images.githubusercontent.com/67258/94378860-8352d580-00fa-11eb-8b39-ddd37edfab90.png)

[2020-09-28 02:30] tig commented on #97
I can repro. I'll take a look.

[2020-09-28 02:36] tig commented on #97
Ok, this is beyond my knowledge of PS. What I've found is the cmdlet's `ProcessRecord` method gets called but `InputObject` is null.

[2020-09-28 18:08] TylerLeonhardt commented on #109
This is in

[2020-09-28 18:08] #109 closed

[2020-09-28 19:14] tig commented on #109
When will you publish 0.6.0?

[2020-09-28 19:25] TylerLeonhardt commented on #109
![image](https://user-images.githubusercontent.com/2644648/94476728-b68e7680-0185-11eb-8d6d-46c715e6a7e4.png)

[2020-09-28 19:35] TylerLeonhardt commented on #109
https://www.powershellgallery.com/packages/Microsoft.PowerShell.ConsoleGuiTools/0.6.0

[2020-09-28 22:09] tig opened #112 "OCGV: Columns don't always line up"
e.g.

[code]

![image](https://user-images.githubusercontent.com/585482/94491143-80102600-019c-11eb-8618-b31fadcff8ab.png)

[2020-09-28 22:12] TylerLeonhardt commented on #112
looks like the ellipses code is off by one...

[2020-09-28 22:14] tig commented on #112
yea, I also don't like how much space is taken between the selection checks and first column. Waste.

FWIW, I'm working on changing Terminal.Gui to use just a single glyph to represent multi/single select instead of 3. This will also help.

[2020-09-29 03:22] TylerLeonhardt commented on #95
fixed :)

[2020-09-29 03:22] #95 closed

[2020-09-29 03:23] TylerLeonhardt commented on #112
dupe of #104 fix is in #113

[2020-09-29 03:23] #112 closed

[2020-09-29 03:24] TylerLeonhardt commented on #111
This is being tracked in gui.cs resolving as external.

[2020-09-29 03:24] #111 closed

[2020-09-29 03:25] TylerLeonhardt commented on #104
I've got a fix out for this #113

[2020-09-29 16:58] #104 closed

[2020-09-29 20:53] tig opened #116 "OCGV: Add ability to minimize UI"
The window border, filter box, and status bar use valuable screen real estate. I'd like to have an option of not having it visible.

I considered having parameters for all of them:

- `-NoFrame`
- `-NoFilter`
- `-NoStatusBar`

But that seems overkill. Instead, just:

- `-MinUI`

Right now Terminal.gui doesn't have an API to turn of the Window border (!?!).

[2020-09-30 16:18] TylerLeonhardt commented on #97
@tig were your repro steps the same?

[2020-09-30 18:15] tig commented on #97
Yes. I grabbed his XML file and tested as he showed.

[2020-10-01 22:15] tig commented on #101
Now that [`Terminal.Gui` supports ReactiveUI](https://github.com/migueldeicaza/gui.cs/tree/master/ReactiveExample) there's at least a theory that more code could be shared between `ogv` and `ocgv`. Of course this depends on which parts of MAUI get used.

I'll be eager to see how the move of 'ogv' to MAUI is done.

[2020-10-01 22:35] TylerLeonhardt commented on #101
me too :)

[2020-10-02 17:17] tig opened #120 "OCGV: Add UI for select-all/select-none"
When dealing with large lists and `-OutputMode Multiple`, the ability to select all items, or deselect all is desired.

Proposal: When `-OutputMode: Multiple` is provided, add two shortcut keys to `StatusBar1:

![image](https://user-images.githubusercontent.com/585482/94950726-ee543180-0497-11eb-8eb4-a8e3b9202222.png)

On Windows/Linux `^A` would be `CTRL-A`. On Mac it would be `Command-A`.

I cho

[2020-10-02 19:36] tig opened #121 "OCGV: If items are selected, then a filter is applied, items now hidden stay selected"
What does Filter do?

1) Filter means Filter DISPLAY - Restrict what you see (current implementation).
2) Filter means Filter INPUT - Restrict the data you are working with.

Example:

[code]

Select the two  items:
![image](https://user-images.githubusercontent.com/585482/94961804-3f6d2100-04aa-11eb-8966-b8a525dfc719.png)
![image](https://user-images.githubusercontent.com/585482/94961947-80653580

[2020-10-02 20:43] corbob commented on #121
Here's my reminder to myself to read the whole thing before I start formulating my response 😬 I went and tested Windows PowerShell's `ogv` implementation to find exactly as you did that it means option 2. This is definitely the behavior I would expect and I would advocate for.

As a side note: @tig is `Get-PSProfile`  a custom function, or is it part of a module that someone might be able to downl

[2020-10-02 23:45] tig commented on #121
`Get-PSProfile` is part of https://github.com/jdhitsolutions/PSScriptTools.

I forgot how I found it, but use it for testing because it gives lots of columns with different lengths and thus stresses ocgv well. I forgot it wasn't a built-in. I'll fix my PR to use something else built-in in the build tools.

I'll also do a PR to "fix" ocgv per this Issue...

[2020-10-07 20:34] lahell opened #123 "OCGV: Does not seem to work in remote PSSession"
Piping to `Out-ConsoleGridView` after `Enter-PSSession` produces an error and exits the PSSession. I have tried from Windows to MacOS and Windows to Ubuntu (WSL) using PowerShell 7.0.3 and Microsoft.PowerShell.ConsoleGuiTools 0.6.1.

[code]

Is it caused by ESC in `Dispose()`?

If it's not supposed to work in PSSession then perhaps check for the existence of `$PSSenderInfo` and handle it more grac

[2020-10-15 17:08] SteveL-MSFT commented on #116
I like the idea of being able to customize the UI, however, I wonder if `-MinUI` is sufficient or over time we end up with lots of switches/parameters?  Perhaps accept a hashtable that accepts customization options?

[2020-10-15 17:09] SteveL-MSFT commented on #123
I think for now, the cmdlet should check if it's remote and fail gracefully.  PowerShell remoting was designed to transport objects, so the text output for console rendering is confusing it.

[2020-10-15 17:10] tig commented on #116
Steve, is there a built-in way for PS cmdlets to take multiple options (OR) in a parameter? E.g.

[code]

[2020-10-15 17:48] TylerLeonhardt commented on #116
@tig it can accept an array.

[code]

[2020-10-15 17:50] TylerLeonhardt commented on #123
@lahell would you like to try and contribute? This repo is participating in [hacktoberfest](https://hacktoberfest.digitalocean.com/) :)

[2020-10-15 17:51] tig commented on #116
Based on this feedback I will revisit this PR using `HideUIElement` as the parameter and implement flags as suggested.

[2020-10-15 17:53] TylerLeonhardt commented on #116
I'm not married to the name `HideUIElement` but I do think this kind of parameter seems pretty cool. I like adding `All` and `None` where `None` is the default value.

[2020-10-15 18:38] tig commented on #116
Or,

[code]

Where `All` is default.

[2020-10-15 19:11] TylerLeonhardt commented on #116
hmm... I'm not sure. If we go with `-UI` and then we add another thing to the enum, it wouldn't show up and I'm not sure if that's a good thing or a bad thing because I would want new things to be visible first so the user can see the new capability.

[2020-10-18 21:37] lahell commented on #123
@TylerLeonhardt, I gave it a shot, but as you will no doubt guess, I'm not a programmer.

I came up with this: https://github.com/lahell/GraphicalTools/commit/57e59688cb94ad182cf9505ccd4c96e51b668eec. It's not pretty, but seems to work.

What should I change?

[2020-10-19 01:30] TylerLeonhardt commented on #123
Looks good :) the only thing I'd do is in the Dispose, instead of doing what you're doing now, just call: `_consoleGui?.Dispose()` which will do a null check

[2020-10-19 06:03] lahell commented on #123
That would do a null check on _consoleGui right? As far as I can tell, the exit from remote session is caused by `Console.Write("\u001b[?1h");` in ConsoleGui.cs. What I was trying to do is only call Dispose if the cmdlet is not in a remote session. Is there a better way?

[2020-10-19 06:53] lahell commented on #123
My first commit was overkill. Looks like `if (Console.IsInputRedirected)` is already handling it, but Dispose is crashing the remote session before the exception is displayed. This should be enough to fix it: https://github.com/lahell/GraphicalTools/commit/6bdb9d5eace2c9112179b86f195c77024cb2d4f5

[2020-10-19 09:00] lahell commented on #123
Is this better? https://github.com/lahell/GraphicalTools/commit/e3ea9197f2976778b4bcc01a8a5132c0b329be02

[2020-10-19 16:10] TylerLeonhardt commented on #123
Wait so, does it work over a remote session if you use that last commit?

[2020-10-19 16:11] TylerLeonhardt commented on #123
It would be better if you sent a PR, easier for me to comment on :)

[2020-10-19 20:20] lahell commented on #123
Sorry about the confusion. My last commit will not make OCGV work over a remote session. It will fail with a terminating exception, but the remote session will not be closed. Only the last commit in the PR is needed.

[2020-10-20 07:15] lahell commented on #26
I may have narrowed it down to explorer and wslhost.

[code]

This works for me:

[code]

[2020-10-20 08:10] lahell commented on #26
Parent property of explorer and wslhost seems to be the culprit.

[code]

[2020-10-20 19:07] #123 closed

[2020-10-29 15:28] LarsFosdal opened #127 "Request: Focus a specific row on opening the grid view"
Consider:
`        $L = Get-TineWMSLocation -StagingLive`
`        $P = Get-TineWMSLocation -StagingPilot`
`        $T = Get-TineWMSLocation -StagingTrunk`
`        $List = @($L, $P, $T)`
`        $sel = $List | Select-Object BuildName, GlobalLocationId, LocationName | Out-ConsoleGridView -OutputMode Single -Title "Select Build for synchronisation"`

Coming to this code, I have a target which has

[2020-11-22 04:10] r-darwish opened #129 "Configurable background color"
The default colors don't look well on every theme. It would be nice if we could configure them.

[2020-12-16 04:49] SteveL-MSFT opened #131 "Out-ConsoleGridView doesn't handle ANSI escape sequences correctly"
It appears that gui.cs may not support rendering ANSI escape sequences.  In the meantime, if using pwsh 7.2+, `Out-ConsoleGridView` should use `StringDecorated` type to make sure all text is plain text.

https://twitter.com/Jaykul/status/1339064642715398150

[2020-12-23 15:34] yobyot opened #132 "Module from gallery/built locally does not work in pwsh 7.1"
I am unable use either Microsoft.PowerShell.GraphicalTools and Microsoft.PowerShell.ConsoleGuiTools in macOS 11.1 with PowerShell 7.1.

Here are the releases from the modules I built locally:
<img width="874" alt="modules" src="https://user-images.githubusercontent.com/14332263/103010694-b4c71b80-4506-11eb-90d1-f2dd0471458c.png">

Importing the modules from the gallery or building them locally pro

[2020-12-24 04:57] TylerLeonhardt commented on #132
@yobyot currently work on the `Microsoft.PowerShell.GraphicalTools` repo is haulted as we wait for MAUI. See this issue about that:

https://github.com/PowerShell/GraphicalTools/issues/101

Can you show us a gif of what you see when you use `Microsoft.PowerShell.ConsoleGuiTools`?

Keep in mind, the alias is `ocgv` not `ogv` (just want be clear about this)

[2020-12-24 20:34] yobyot commented on #132
I stand corrected. `Out-GridView` is dead; `Out-ConsoleGridView` still works in pwsh 7.1. But I really, *really* miss `ogv`.

![2020-12-24_15-30-07 (1)](https://user-images.githubusercontent.com/14332263/103105724-84ae7400-45fd-11eb-9a34-45a0d60e272e.gif)

[2020-12-24 21:54] TylerLeonhardt commented on #132
The reason the alias is `ocgv` instead of `ogv` is because `ogv` came back in PowerShell 7. We did the xplat `ogv` before that happened (before we thought we could ever get original, Windows-only `ogv` working)

We didn't want `ocgv` on Windows to trample the `ogv` alias so we went with `ocgv`

You could do

[code]

In your profile so that you can have that compatibility.

I think this issue, as a

[2021-01-22 10:20] En3Tho opened #133 "[WSL2] [Ubuntu 20.04] OCGV does not work"
Does not work when using Ubuntu app terminal in Win10
![image](https://user-images.githubusercontent.com/37334640/105478720-96467280-5cb4-11eb-80f5-974ebd70dc18.png)

But works when calling ubuntu from other terminal and using pwsh there
![image](https://user-images.githubusercontent.com/37334640/105479241-49af6700-5cb5-11eb-968b-717d8b68f028.png)

[2021-01-22 10:21] En3Tho opened #134 "[Linux] [Ubuntu 20.04] Leaving OCGV causes mouse move to print characters to console"
![image](https://user-images.githubusercontent.com/37334640/105478832-c0983000-5cb4-11eb-89d5-a1c25d9ca186.png)

[2021-01-22 10:31] En3Tho commented on #134
@tig @TylerLeonhardt Can you please take a look?

[2021-01-22 10:40] En3Tho commented on #134
I've updated pwsh to 7.1.1 manually (no such version in apt-get), problem remains

[2021-01-22 17:55] tig commented on #134
see https://github.com/PowerShell/PowerShell/issues/12268

[2021-01-22 17:57] tig commented on #133
I'm confused.

Can you please clarify what works and doesn't? I'll try to get Ubuntu 20.04 installed and test, but it may be a while.

[2021-01-22 18:07] tig commented on #131
Tracking issue in gui.cs added: https://github.com/migueldeicaza/gui.cs/issues/1097

[2021-01-22 18:14] tig commented on #129
Can you share more details of what looks good and doesn't on your system?

`Terminal.Gui`, on which `ocgv` is based supports multiple color themes. One solution would be to add a switch to `ocgv` that lets the user choose these:

Base:
![image](https://user-images.githubusercontent.com/585482/105528716-2cb96a80-5c9a-11eb-824f-ba1c1075f4de.png)

TopLevel:
![image](https://user-images.githubusercont

[2021-01-22 18:17] tig commented on #127
Groovy idea.

So the `-Focus` parameter is a search string. A simple implementation would require it to match perfectly. An complex implementation would make it a regex or something.

[2021-01-22 19:10] DHowett commented on #134
This is a different thing, isn't it? Those characters look like xterm-encoded mouse positions. It looks like OCGV is leaving _mouse mode_ enabled.

The issue you linked, 12268, is about the encoding for the keyboard arrow keys (the up/down/left/right cluster.)

[2021-01-23 13:12] En3Tho commented on #134
[Screenshot_2021-01-23-16-10-08-621_tech.ula.jpg](https://user-images.githubusercontent.com/37334640/105579148-b7cb5b00-5d95-11eb-87e1-ff243d2ffc9d.jpg)
No such behaviour on Android via UserLAnd (Ubuntu)

[2021-01-25 01:14] TylerLeonhardt commented on #134
@En3Tho can you run this line and see if you still see the behavior?:

[code]

This will turn of Mouse Tracking as described here:
https://www.xfree86.org/current/ctlseqs.html#Mouse%20Tracking

If this works for you, we can add emitting this here:
https://github.com/PowerShell/GraphicalTools/blob/master/src/Microsoft.PowerShell.ConsoleGuiTools/ConsoleGui.cs#L329

[2021-01-25 08:31] En3Tho commented on #134
@TylerLeonhardt It works. Thanks!

[2021-01-25 16:38] TylerLeonhardt commented on #134
opened a small PR to fix this:
https://github.com/PowerShell/GraphicalTools/pull/135

[2021-02-01 01:10] shokkakhan opened #136 "Frameview Tabstop not working"
Using Microsoft.Powershell.ConsoleGuiTools:

I have two frames which both have $_.TabStop = $false.

Inside each frame, i have listview.

Both listviews also have tabstop set to false.

No matter what I have tried, pressing tab switches from $Frame1 to $Frame2 and vice versa. The Tabstop is effective on both listviews.

I put in a third frame to test, disabled tabstop, and it cannot be tabbed into

[2021-02-02 10:29] kasini3000 opened #137 "CJK chars display as ▯▯▯"
Get-ChildItem | Out-ConsoleGridView
file date 【下午】 ---->as ▯▯

hello.ps1 "Hello哈" ---->as Hello▯

Border misalignment problem. A Chinese character should occupy 2 English character positions.

i found issue fixed with c# from here, https://github.com/migueldeicaza/gui.cs/issues/1039

but powershell still problem.

I have updated the Terminal.Gui.dll to 0.90.3,
and also used [Terminal.Gui.Applicati

[2021-02-08 18:51] ryguy77 opened #138 "OutGridView.Gui Crashes on MacOS 11.1"
Unable to run simple grid view on MacOS 11.1. The command runs the processor hard then it will crash the app. Running the following command:
ps | Microsoft.PowerShell.GraphicalTools\Out-GridView
Attached is the crash report.
[OutGridView.Gui_2021-02-08-134211_.txt](https://github.com/PowerShell/GraphicalTools/files/5946044/OutGridView.Gui_2021-02-08-134211_.txt)

Running Powershell Core 7.1.1
Micr

[2021-02-10 15:13] migueldeicaza commented on #131
Why would gui.cs parse external escape sequences?

[2021-02-13 09:01] kasini3000 commented on #137
it fixed by update lib:
nuget ---》 NStack.Core.0.16.0\lib\netstandard2.0\NStack.dll
nuget ---》 Terminal.Gui.1.0.0-pre.6\lib\net5.0\Terminal.Gui.dll

[2021-02-13 09:01] #137 closed

[2021-02-19 13:36] cadayton opened #139 "Runaway process on Ubuntu 20.4 displaying random characters upon exit."
After displaying the grid view and exiting, random characters are being generated in the terminal session.

![image](https://user-images.githubusercontent.com/5587738/108508921-679ac800-7271-11eb-8589-4aae01de1f1a.png)

To reproduce, installed the BOTtum module.  [BOTtum](https://cadayton.keybase.pub/PSGallery/Modules/BOTtum/BOTtum.html)
Then execute the cmdlet, **Show-KBFileSystem "public" "caday

[2021-03-04 15:30] #134 closed

[2021-03-06 05:33] dgcom commented on #133
Had the same issue, turns out PowerShelll needs to be restarted after installing Microsoft.PowerShell.ConsoleGuiTools

[2021-03-06 06:18] En3Tho commented on #133
This resolves the issue. Sorry for not trying out such a simple idea and thanks for your work! @tig

[2021-03-06 06:18] #133 closed

[2021-03-08 08:36] scatenag commented on #139
Same here!

(..no Out-GridView and wreid Out-ConsoleGridView on Ubuntu right now :( )

[2021-03-08 15:10] TylerLeonhardt commented on #139
This is fixed,it just needs to be released.

https://github.com/PowerShell/GraphicalTools/pull/135

cc @SteveL-MSFT

[2021-03-08 15:12] cadayton commented on #139
Cool.  Thank you very much!!!

[2021-03-09 16:44] tig opened #140 "OCGV: Upgrade to use Terminal.Gui v1.0"
Terminal.Gui is about to declare v1.0.

Release 1.0.0-beta.8 is currently available as a nugget pre-release and is a near final release candidate.

[2021-03-09 16:50] tig commented on #138
Can you please pull down PR #141 and test this?

Thanks a ton!

[2021-03-09 16:51] tig commented on #139
@cadayton, can you please pull down PR #141 and verify this is fixed?

Thanks!

[2021-03-10 01:12] cadayton commented on #139
On Ubuntu 20.4, I'm not running Windows Terminal.  How is an upgrade to Windows Terminal going to resolve the issue?

[2021-03-25 13:47] cadayton commented on #139
On the Ubuntu system, I tried to update the Terminal.Gui package.  Unfortunately, I'm not up to speed enough on dotnet to figure out to get a newer Terminal.Gui nuget packages installed.

If you can provide a basic example of how to update the Terminal.Gui package, I'll be a able to test.  Otherwise, I'll need to wait until I find some time to learn how to speak dotnet.

[2021-03-25 15:18] GWayneT-USA opened #142 "RE: Mouse settings."
In the properties for the mouse is where to configure the mouse. There is two options for mouse setting in windows 10 that can be configured to different things like turning features on, and off or even changing the pointer to a different icon. Gary Tyree (GE-re TE-re) / GT 25-Mar-2021.

[2021-03-26 15:58] #142 closed

[2021-03-26 16:12] GWayneT-USA commented on #101
I corrected all my profile information, and then I unsubscribed from all the notification options. Most of the purchases online are still in company form as a group however the company can auto bill on behalf of a reseller for whatever their circumstances are except all company members are like 'Amway' distributors that are independent from each other that can also invoice due to them, and separat

[2021-04-01 20:44] tig commented on #139
@TylerLeonhardt  or @SteveL-MSFT - Is there a way for you to do a build of GraphicalTools and publish a pre-release package on nuget?

[2021-04-02 00:50] cadayton commented on #139
If can point me to the build documentation, I can build it.

[2021-04-06 14:02] scatenag commented on #139
It seems to be fixed in PowerShell 7.1.3 :+1:

[2021-04-29 20:36] #140 closed

[2021-04-29 20:45] tig commented on #138
Fixed by #141

[2021-04-29 20:45] tig commented on #139
Should be fixed by #141

[2021-04-29 20:45] tig commented on #131
Should be fixed by #141

[2021-04-29 21:01] andschwa opened #144 "Release Microsoft.PowerShell.ConsoleGuiTools `v0.6.2`"
Working right now to upload a new build to the gallery!

[2021-04-29 21:32] #144 closed

[2021-04-30 08:00] scatenag commented on #139
Yes!! It is fixed !

[2021-05-18 18:58] mossrich commented on #73
Some other options to consider:
1) Eliminate some cruft columns: do you really need 3 columns for the checkbox? It's ok to have a √ character next to an item to indicate it's selected.
2) Show [ellipses](http://html-codes.info/ansi/html/ANSI-horizontal%20ellipsis_133) … at the end of a value that has been truncated.  Some terminals may not support the single-character ellipses, and using three dot

[2021-06-04 17:16] yllekz commented on #138
Was this pushed? out-gridview still hangs in macOS, after a fresh pull from the PSGallery.

[2021-06-04 17:25] TylerLeonhardt commented on #138
@tig is talking about ConsoleGuiTools... this issue is about _GraphicalTools_. Please see: https://github.com/PowerShell/GraphicalTools/issues/101

[2021-06-06 14:35] freMea commented on #129
Yes maybe a general theme setting for all terminal.gui applications or/and a specific command to set ocgv theme like `set-ocgvColors` and passing a hash table with colors like we do with `Set-PSReadLineOption -Colors $myTheme`

[2021-08-07 13:34] reaby commented on #131
Well you wish to show colors from other sources, the ansi color sequences works kind of everywhere else, why not here!
But to say this is exact is my problem. I have written an ansiparser for a game color codes system. It translates the $rgb to ansi escapes and it works perfectly with Console.WriteLine but i can't get the output working at all with Terminal.Gui...

[2022-03-01 14:47] nbros opened #146 "Get-Help with -ShowWindow opens underneath the terminal"
When I invoke Get-Help with -ShowWindow, the help window opens, but underneath the Windows Terminal window instead of opening on top of it so that I can directly read the help page I requested.

eg with: `Get-Help Get-Item -ShowWindow`

![showWindow](https://user-images.githubusercontent.com/141089/156190164-c6daa20e-87c0-4393-8398-46ff1293bbdb.gif)

[2022-03-23 11:16] MrFly72 opened #147 "OCGV:Out-ConsoleGridView on bullseye behaves different then before"
I dont know how to rexactly describe, but I am using PWSH on on Raspberry Pi and therefor use Out-ConsoleGridView a lot.
In Bullseye it behaves different:

https://user-images.githubusercontent.com/65505278/159687170-6acb1ccd-0041-46c2-ab5f-53af13a8f315.mp4

First select is really a click with the mouse. but from this point on, the row selection will follow the cursor and eventually select the ite

[2022-04-06 18:22] MrFly72 commented on #147
Seems nobody is really reading here?

[2022-04-20 20:18] MrFly72 commented on #147
@andschwa Are you also in charge of this?

[2022-04-20 20:21] andschwa commented on #147
Oh, hey! Sorry, I missed this. This project is in a bit of a holding pattern right now, we're not planning any future releases (but that could change).

My guess is that it's going to be something with how your `TERM` is set, things like this can be really picky about that especially if you're going over XRDP etc.

[2022-04-20 20:22] MrFly72 opened #148 "Out-ConsoleGridView"
It would be great if Out-ConsoleGridView could have a parameter somehow like -skiptonextelementonselect
Or whatever makes sense as parameter name.
Basically with this set after a selection of an element, the cursor will move to the next line instead of staying at the same.

[2022-04-20 20:33] MrFly72 commented on #147
Oh please keep up work on this. I believe it is very essential to non Win systems. I am using this like crazy on Raspis.
It IS important.

[2022-04-20 20:38] andschwa commented on #147
That is good to know! Glad it's helpful. For your bug, is this a new behavior? Did it change between versions of GraphicalTools, or PowerShell, or your system?

[2022-04-20 20:43] MrFly72 commented on #147
Actually the only change was buster to bullseye. I think consoleguitools stayed the same version. I will look for term settings tomorrow again. Too late up here, heading to bed ;-)

[2022-04-21 06:39] MrFly72 commented on #147
Oh yes. I use it in a project https://github.com/MrFly72/Synology_Mediathek_Download
It basically does this:
It will query by rest-api a list of movies/TV SHows from a specific source-website for german TV.
The  request is filtered by my specific tv-shows (or kids shows ;-) ) and will present the result in Out-ConsoleGridView to mark the shows that should be downloaded. It will then check if the f

[2022-04-21 19:46] MrFly72 opened #149 "Feature-Request: have a button to select all currently filtered"
It would be great to have a button to select all elements that are hit by the current filter.
EG. A list of movies is presented and the filter "Bruce" will filter all movies with Bruce Willis.
If I press the wished button, all currently filtered will be selected.

[2022-04-29 19:27] MrFly72 commented on #148
@andschwa maybe this one is easy to implement? and it would be a huge comfort improvement, especially as Out-ConsoleGridView might be used a lot with keyboard.

[2022-05-06 17:46] saldroubi opened #150 "OCGV: Color changes and terminal becomes unreadable"
I have this code basically in a loop so user can select an option, it gets performed and then menu appears again so he can pick another menu option to perform.

    $result = $menu | Out-ConsoleGridView -OutputMode Single -Title "Make a selection "

However, the color changes of background and foreground which makes the menu almost impossible to read.  Can this be fixed or is there a way to set th

[2022-05-25 15:23] ThomasNieto opened #159 "PSAnsiRenderingFileInfo causes display issues with Out-ConsoleGridView"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the [latest released version](https://github.com/PowerShell/PowerShell/releases)
- [X] Search the existing issues.
- [X] Refer to the [FAQ](https://github.com/PowerShell/PowerShell/blob/master/docs/FAQ.md).
- [X] Refer to [Differences between Windows PowerShell 5.1 and PowerShell](https://docs.microsoft

[2022-05-25 20:47] tig commented on #101
It is my dream that when/if Powershell moves to MAUI for UI, I've been successful in ensuring Terminal.Gui is a MAUI target. I view PS as the top customer for doing this.

We'll be discussing this here: https://github.com/migueldeicaza/gui.cs/discussions/1738

[2022-05-26 11:57] wieslawsoltes commented on #101
You may like this project https://github.com/jinek/Consolonia
Sample app https://github.com/jinek/ToolUI

[2022-05-27 03:04] tig commented on #150
I've tried to repro this and can't quite figure out what you mean.

Could you perhaps post more code with a full example?

What terminal / OS are you using?

Thanks.

[2022-05-27 03:04] tig commented on #149
Good suggestion!

[2022-05-27 03:09] tig commented on #147
@MrFly72 - Pretty sure the following Terminal.Gui issues are related:

- https://github.com/migueldeicaza/gui.cs/issues/1697
- https://github.com/migueldeicaza/gui.cs/issues/1617

Some other mouse bugs have been fixed since the most recent version of `ocgv` was released. I'm about to push for an updated release.

[2022-05-27 04:54] MrFly72 commented on #147
Interesting enough it is not a problem when I first start a tmux session and use push inside that session.

[2022-06-02 22:23] andschwa commented on #147
@tig does v1.6.4 resolve these issues? If so, I can get it updated here and release.

[2022-06-03 02:52] tig commented on #147
I have no easy way to reproduce the issues to prove they are fixed as I don't have access to (or even really know what it is) 'bullseye'.

I just brought `GraphicalTools` down locally and changed the `.csproj` to point to `1.6` of `Terminal.Gui` (also updated `Nstack` to `0.17`.

<img width="548" alt="image" src="https://user-images.githubusercontent.com/585482/171776953-87b9e76f-3a20-44a3-88e2-fd

[2022-06-03 03:11] tig opened #151 "OCGV: Filter edit chops off first char of filter string passed on command line"
![n3eQi8I 1](https://user-images.githubusercontent.com/585482/171778841-f2d9b0fd-df47-440a-9753-2a7f461dadca.gif)

Or, do

[code]

This doesn't appear to impact filter functionality, it's just that the first character is not visible. If one backspace to delete all of the filter string, it DOES delete that first char.

[2022-06-03 08:42] tig commented on #131
This is not fixed.

I now understand the issue. Terminal.Gui is simply rendering the characters presented. Thus OCGV shows them.

Because powershell now colorized things in `gci` (e.g. directories), simple commands like `ls | ocgv` are useless:

<img width="464" alt="image" src="https://user-images.githubusercontent.com/585482/171819696-d3fec054-cfe2-4c34-bf26-9e442e95b95f.png">

I am not sure wha

[2022-06-03 09:25] tig commented on #131
Reading this: https://github.com/PowerShell/PowerShell/issues/13071

I'm looking for `StringDecorated` and/or `String.ToString(bool)`.

But since the cmdlet is currently built for PS 6.x, these aren't available?

Once I figure out how to access these, it should be trivial to fix this bug by changing the logic here to strip the ANSI from the input.

<img width="550" alt="image" src="https://user-im

[2022-06-03 13:02] tig commented on #151
Turns out this is caused by the logic in `_filterField.TextChanged` that was serendipitously fixed by the upgrade to Terminal.Gui 1.6 in #153.

So once #153 is merged, this issue will be fixed.

[2022-06-03 14:40] freMea commented on #129
Yes

[2022-06-07 05:56] tig commented on #129
Ok. Thank you for the feedback!

For 1. see https://github.com/migueldeicaza/gui.cs/issues/1773

For 2. see https://github.com/migueldeicaza/gui.cs/issues/29

[2022-06-19 13:38] tolgabalci opened #155 "Import-Module: Alias is not writeable because alias ogv is read-only or constant and cannot be written to."
No longer able to install & import Microsoft.Powershell.GraphicalTools

![image](https://user-images.githubusercontent.com/2467618/174483817-0dba3628-cf35-423d-aebb-311b78eaa853.png)

The Install-Module command also warned me that the module would override Out-GridView, but it let me proceed with -AllowClobber.  However Import-Module does not work.

[2022-06-19 13:42] tolgabalci commented on #155
Sorry I see that Microsoft.Powershell.GraphicalTools is no longer the correct name and we should not now be using Microsoft.PowerShell.ConsoleGuiTools

[2022-06-19 13:42] #155 closed

[2022-06-20 13:42] durdin85 opened #156 "Out-GridView does not work on linux"
Hi, I've recently discovered this project so I'd like to give it a try (Out-GridView from PowerShell.GraphicalTools) but on my machine it does not work (to be precise the terminal-based Outgridview works, but not the graphical based one).

When I try to do _anything | out-gridview_, no window appears and there's no sign of any new process either it just continues.

Manually running _"./.local/shar

[2022-07-25 17:18] SteveL-MSFT commented on #159
This was fixed by https://github.com/PowerShell/GraphicalTools/pull/158

[2022-07-25 17:18] #159 closed

[2022-08-03 21:10] tig opened #160 "OCGV: No scroll bar when list is longer/wider than terminal is high/wide"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

Keyboard and mouse-wheel scrolling work fine, but because there's no `ScrollBarView` when the list of items exceeds the number of rows provided by the terminal height...

a) It's hard to know that there are more items
b) it's

[2022-08-03 21:11] tig commented on #151
I've confirmed this is fixed with the current code in `master`.

[2022-08-03 21:13] tig commented on #148
Why not have what you suggest be the default behavior?

I'm not a fan of adding more and more options.

[2022-08-03 21:14] tig commented on #131
Confimed fixed in the code currently in `master`:

<img width="565" alt="image" src="https://user-images.githubusercontent.com/585482/182713218-91b3f7e7-5d9f-4b4e-8fb8-aa662d1fffea.png">

[2022-08-03 21:17] tig commented on #150
@andschwa would you please edit this issue to previx the title with "OCGV: "? Thanks

[2022-08-03 21:18] tig commented on #139
@andschwa this can be closed.

[2022-08-04 00:24] tig commented on #121
I believe this should be fixed. Working on PR now.

[2022-08-04 01:58] tig commented on #129
https://github.com/gui-cs/Terminal.Gui/issues/1773 has been fixed and will be in Terminal.Gui v1.7.2 which I plan on launching in the next day. It will be incorporated into the next `GraphicalTools` release.

<img width="327" alt="image" src="https://user-images.githubusercontent.com/585482/182746445-6dff8805-db39-4878-8c22-7a32accebebb.png">

It's not a dramatic change, but does make the not-focu

[2022-08-04 02:04] tig commented on #149
This is a dupe of #120 which is fixed in #122.

@andschwa you can close this Issue.

[2022-08-04 04:44] MrFly72 commented on #148
In my eyes it can also be the default. I was just curious because changing a current because is also not nice sometimes as others might complain.

[2022-08-04 20:36] andschwa commented on #148
No idea if it's easy or not, try it!

[2022-08-04 20:36] andschwa commented on #149
Thanks!!

[2022-08-04 20:36] #149 closed

[2022-08-04 20:41] andschwa commented on #139
Awesome!

[2022-08-04 20:41] #139 closed

[2022-08-04 21:54] tig commented on #93
Dupe of #87

[2022-08-04 22:41] tig opened #165 "Release new GraphicalTools ..."
### Summary of the new feature / enhancement

Hey @andschwa & @SteveL-MSFT,

IMO we are at a good place to release a new release of GraphicalTools.

If it were up to me, I'd merge all of the currently open PRs into `master` and do eet.

The release notes would read something like this:

Fixes:
* https://github.com/PowerShell/GraphicalTools/issues/151
* https://github.com/PowerShell/GraphicalTools/

[2022-08-08 16:48] SteveL-MSFT commented on #165
I believe @andschwa is planning a release this month

[2022-08-08 17:18] andschwa commented on #165
Yes indeed!

[2022-08-08 20:58] #131 closed

[2022-08-08 20:58] SteveL-MSFT commented on #131
This fix should be in the release this month

[2022-08-09 21:09] Tigger2014 commented on #150
I have this happening too, Cant share code yet as it a lot of proprietary stuff but it once it starts it happens every time in that session

[2022-08-21 20:56] Tigger2014 opened #167 "OCGV: Sometimes exits as soon as arrow key is pressed"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

This one seems a bit random but ive managed to isolate it a block of code i think can trigger it sometimes. It might take a good few runs of the below code to get it to happen.
[code]

I know the split will error on this by de

[2022-08-23 00:55] BEEDELLROKEJULIANLOCKHART commented on #8
`.Gui` should be `.GUI`.

[2022-08-23 13:54] BEEDELLROKEJULIANLOCKHART commented on #132
Indeed, @TylerLeonhardt: I believe that this should be closed, as "https://github.com/PowerShell/GraphicalTools/issues/100#issuecomment-645008475" was.

[2022-08-23 19:34] andschwa commented on #165
@tig can you close the correct issues and PRs that have been resolved via the merge of #166? Thank you! I am currently getting the build pipeline in place, should have a release out this week!

[2022-08-24 11:33] BEEDELLROKEJULIANLOCKHART commented on #116
Actually, I would love the -NoFrame, -NoFilter, and -NoStatusBar that were proposed. I very frequently desire some of those but not others.

[2022-08-24 11:46] BEEDELLROKEJULIANLOCKHART commented on #32
[The Windows Subsystem For Linux Preview](http://apps.microsoft.com/store/detail/9P9TQF7MRM4R) natively provides an X-server, so this remains important.

[2022-08-24 12:18] tig commented on #165
Will do asap

[2022-08-24 12:40] tig commented on #167
I've tried dozens of times and I can't get this to repro.

Can you still repro it with what's in `master`?

Note that because of #93 the initial behaviour is different than when you first reported this and it might be masking the issue?

[2022-08-24 12:43] tig commented on #87
Fixed in #165

[2022-08-24 12:43] #87 closed

[2022-08-24 12:44] tig commented on #121
Fixed in #166

[2022-08-24 12:44] #121 closed

[2022-08-24 12:45] tig commented on #120
Fixed with #166

[2022-08-24 12:45] #120 closed

[2022-08-24 12:45] tig commented on #116
Fixed in #166

[2022-08-24 12:47] tig commented on #150
This is no longer repo (or was fixed in #166).

[2022-08-24 12:48] tig commented on #148
@andschwa please edit this title to prefix with "OCGV: ". Gracias.

[2022-08-24 12:49] tig commented on #147
@andschwa please prefix title with "OCGV: ".

I don't think this is still repo, FWIW.

[2022-08-24 12:50] tig commented on #156
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:51] tig commented on #146
This does not repo.

[2022-08-24 12:51] tig commented on #138
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:52] tig commented on #136
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:52] tig commented on #129
@andschwa please prefix title with "OCGV: ".

[2022-08-24 12:53] tig commented on #127
@andschwa please prefix title with "OCGV: ".

I really like this suggestion.

[2022-08-24 12:55] tig commented on #97
@andschwa please prefix title with "OCGV: ".

[2022-08-24 12:55] tig commented on #90
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:55] #90 closed

[2022-08-24 12:55] tig commented on #78
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:56] tig commented on #73
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:56] tig commented on #54
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:56] tig commented on #39
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:57] tig commented on #38
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:57] tig commented on #36
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:57] tig commented on #32
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:57] tig commented on #26
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:58] tig commented on #23
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 12:59] tig commented on #15
@andschwa This should be closed as won't fix since it's for the Avalona version.

[2022-08-24 13:00] tig opened #169 "Clean up issues"
### Summary of the new feature / enhancement

Instead of prefixing OCGV Issues with "OCGV: ", we should have a label.

@andschwa any way I can get rights to be able to help you do all this?

### Proposed technical implementation details (optional)

_No response_

[2022-08-24 13:44] tig opened #171 "README is out of date"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

Readme is old.

### Expected behavior

[code]

### Actual behavior

[code]

### Error details

_No response_

### Environment data

[code]

### Version

7.2

### Visuals

_No response_

[2022-08-24 14:03] MrFly72 commented on #147
It is still reproducable with my Raspberry Pi and the current release.
Is there a preview I can load to test a newer release or do I have to bring it on myself ?

[2022-08-24 15:24] MrFly72 commented on #147
I can confirm, that this problem still exists on 0.7.2
And worst, it seem not to run anymore under tmux, which means, it gives me the cursor problem as mentioned above, and does not launch anymore under tmux (it keeps a black screen)

[2022-08-24 15:37] MrFly72 commented on #147
Ok, found out the problem with TMUX.
On default the TERM on tmux will be "screen".
I configured the .tmux.conf so that it will also do xterm-256color and now this is running.
The new features are cool (select all, select none).
But nevertheless, without tmux, the mouse problem still exists in the standard shell window on debian desktop

[2022-08-24 16:34] #138 closed

[2022-08-24 16:34] #156 closed

[2022-08-24 16:35] #150 closed

[2022-08-24 16:36] andschwa commented on #165
Thank you so much!!!

[2022-08-24 16:36] #136 closed

[2022-08-24 16:38] #78 closed

[2022-08-24 16:38] #73 closed

[2022-08-24 16:38] #54 closed

[2022-08-24 16:38] #44 closed

[2022-08-24 16:38] #39 closed

[2022-08-24 16:38] #38 closed

[2022-08-24 16:39] #36 closed

[2022-08-24 16:39] #32 closed

[2022-08-24 16:39] #26 closed

[2022-08-24 16:39] #25 closed

[2022-08-24 16:39] #23 closed

[2022-08-24 16:39] #15 closed

[2022-08-24 16:49] #171 closed

[2022-08-24 18:30] MrFly72 commented on #165
There are so cool new features in this release.
It should be released and then there could be more work on additional features (like the jump to next item on select etc.)

[2022-08-24 19:57] Tigger2014 commented on #167
Ive just cloned master and built the module, I can still trigger this, Not sure if its relevant but im using a mac.

Ive triggered it by doing the following
New pwsh console, Import module run script above, spam the `esc` key more times than required to exit the loop. Run the loop again, the first try should skip, If in-fact it seems if the `esc` key is hit too many times when displaying OCGV it w

[2022-08-24 22:38] andschwa commented on #165
Working on it! It's a lot of infra work sadly. But it's close!

[2022-08-24 22:44] tig commented on #167
I cannot repro this on Debian in WSL or Windows. I do not have access to a Mac.

1. New `pwsh`
2. Paste script above
3. As soon as OCGV shows, hit ESC a bunch of times
4. OCGV will show 3 times in succession
5. Paste script above again
6. 4. OCGV will show 3 times in succession

Is this how you repo it?

[2022-08-24 23:06] tig opened #172 "Add HelpMessage for command-line Parameters"
### Summary of the new feature / enhancement

Today:

[code]

This should be:

[code]

### Proposed technical implementation details (optional)

This is accomplished by adding a `HelpMessage = ` to the `[Parameter()`] attributes of each parameter:

[code]

[2022-08-24 23:10] andschwa commented on #169
Just sent you an invite with triage permissions @tig! Thank you so much for your help. Release is coming out...shortly!

[2022-08-24 23:12] andschwa commented on #169
Just created that label and added it to all the issues currently prefixed with `OCGV:`!

[2022-08-24 23:12] #169 closed

[2022-08-25 00:03] tig commented on #148
The reason I didn't push to get this in quickly is it's more complicated than I originally thought.

I now believe this functionality should be optional and propose `-MoveToNextOnSelect`:

[code]

Without resorting to some hackery, the right way to implement this is by implementing a new feature in `Terminal.Gui`'s `ListView` that turns on off/this behavior.

The code in `ocgv` would thus, be

[co

[2022-08-25 08:54] Tigger2014 commented on #167
Thats correct, after 3, if you try to scroll down to select an item in OCGV it should skip

[2022-08-25 12:44] tig commented on #167
Still can't repo on Windows or Debian (Windows Terminal). Also tried within VS Code's Terminal.

<img width="358" alt="image" src="https://user-images.githubusercontent.com/585482/186667710-e105f001-265c-4b04-89c7-89b3373cdec3.png">

@bdisp or @tznind - do either of you have a Mac you can try to repro this on?

[2022-08-25 13:21] Tigger2014 commented on #167
Just managed to trigger this on WSL in Windows Terminal from master
[code]

![WSL](https://user-images.githubusercontent.com/2319079/186675126-66879982-5635-48a1-a0f6-5cdd1e91ba2e.gif)

steps to repro

Paste in the code, hit ESC 3 or 4 time rapidly during run 0, you should then find when the next OCGV pop ups, try using arrow keys to move down the list. It should skip and go to the next run withou

[2022-08-25 17:24] #172 closed

[2022-08-25 17:26] tig commented on #167
Got it. Repo'd on Debian. But not Windows.

I have no ideas on what the cause could be. The stack trace you posted points to something involving PowerShell:

[code]

How did you collect that stack trace?

[2022-08-25 17:40] Tigger2014 commented on #167
Glad you managed to reproduce it!

The stack was from `Get-Error` not entirely sure it relates to this problem vs something else.

[2022-08-25 18:13] MrFly72 opened #174 "OCGV:Different Filter will "forget" all selected before"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

When a filter is active at the end of choosing elements, only the elements that are included in the active filter will be returned.
eg.:
Get-Process | Out-ConsoleGridView
Check one process, eg. Word
Filter by eg.Notepad, check

[2022-08-25 18:14] MrFly72 commented on #165
Maybe wait, as I have at least one big filed just before, that I think should be fixed before release, as it breaks functionality in my eyes.

[2022-08-25 18:48] andschwa commented on #165
How breaking though? With this pipeline in place, once I can get it to work the first time, releases afterwords become easy as pie!

[2022-08-25 18:49] andschwa commented on #165
(Also, the only way to get it to work is to test it...so expect a 0.7.2 as soon it works. We can do a 0.7.3 when your bugfix lands.)

[2022-08-25 19:09] MrFly72 commented on #165
I cannot fix it. Don't have invested any t8me on the code. I think @tig might have to look at it?
I was just pretty confused today after
Using filter, check items, using filter again, check some more and hit enter and to find out, only the last made it.

[2022-08-25 19:27] BDisp commented on #167
I tested on Ubuntu (WSL) and I can reproduce the error, but without open the warning window. By symptoms, it seems that the OCGV is not calling `Application.Shutdown` when the ESC key is pressed. On Windows there are no problem with this but with Linux and Mac, probably, will causing the OCGV not totally destroyed and re-created. The main cause for the ESC is not working properly in Linux is becau

[2022-08-25 20:08] tig commented on #174
This is caused by https://github.com/PowerShell/GraphicalTools/pull/163

I agree this is a change in behavior and it's a bummer it impacted you.

I think it's too late to revert/fix this for 0.7.2 as @andschwa notes.

We can definitely fix for 0.7.3.

The question is, how do I fix it?

See #121 for more background.

[2022-08-25 20:10] tig commented on #167
@BDisp Do you think this is related? I don't see it. Should it be a separate issue?

[2022-08-25 20:14] tig commented on #167
Odd that you're not seeing `Application.Shutdown` being called...

[code]

[2022-08-25 20:18] BDisp commented on #167
I tested with the above code provided. Should that code explicit call Application.Shutdown? Since the OCGV already call, sorry my mistake.

[2022-08-25 20:24] tig commented on #167
That code is the code in OCGV; I pasted it to show why I think OCGV is actually calling Shutdown.

[2022-08-25 20:30] BDisp commented on #167
[code]

Sorry, I meaning if this code should call `Application.Shutdown`, since it's calling OCGV three times?

[2022-08-25 20:33] andschwa commented on #174
I mean, if it's an easy fix, go for it?

[2022-08-25 20:51] tig commented on #167
No, OCGV is a PowerShell Cmdlet that calls `Application.Shutdown` (per the code I pasted above) each time.

I just instrumented OCGV and using this version of the script, it's clear Shutdown is being called. So that's not the cause of this issue.

[code]

<img width="383" alt="image" src="https://user-images.githubusercontent.com/585482/186765944-bf1206da-7065-4b0f-bfbe-c3ea60d2d532.png">

[2022-08-25 21:02] tig commented on #167
@Tigger2014 - did this issue ever reproduce for you when the ESC key was not involved?

Do you have repro that involves ONLY the arrow key causing the cmdlet to exit?

[2022-08-25 21:10] Tigger2014 commented on #167
I've seen it happen when i think the esc key wasn't involved but it's not code i can share unfortunately. Im also not 100% sure ESC wasn't touched.

[2022-08-25 21:20] tig commented on #167
Ok, I'll keep poking around.

My current suspicion is that @BDisp was on the right track and this has something to do with the way the Terminal.Gui `ncurses` driver handles the ESC key.

So, if you figure out how to repro it WITHOUT involving the ESC key please yell!

[2022-08-25 21:22] andschwa commented on #165
@tig it's out! Going forward we can do a release _very_ easily now.

[2022-08-25 21:22] #165 closed

[2022-08-25 21:23] tig commented on #167
The other potential culprit is the "hack" in OCGV that resets the "Application Cursor" by emitting an ANSI ESC sequence when it closes:

https://github.com/PowerShell/GraphicalTools/blob/76dbfcef5c099b8e4a73a55fde6e3f0ff37fb15b/src/Microsoft.PowerShell.ConsoleGuiTools/ConsoleGui.cs#L403

[2022-08-25 21:28] BDisp commented on #167
@tig see the `End` method on `CursesDriver` where I use some escape sequences to restore the terminal on exit. Another solution is OCGV using `NetDriver` on `Linux` and `Mac`.

[2022-08-25 21:44] BDisp commented on #167
Thinking better I bet that this is really the culprit, because the `CursesDriver` already do all clean up on exit to restore the terminal. Sending more escape sequences after exit will getting echoed back and reinitialize the `CursesDriver` again, like it never close.

[2022-08-25 22:08] Tigger2014 commented on #167
Just commented out that line, Still happens unfortunately

[2022-08-25 22:31] Tigger2014 commented on #167
Further to this, not sure it helps much but swapping `ESC` for `a` for example, i cant reproduce this.
https://github.com/PowerShell/GraphicalTools/blob/master/src/Microsoft.PowerShell.ConsoleGuiTools/ConsoleGui.cs#L214

Seems this could be related to your suggestion

[2022-08-25 22:48] BDisp commented on #167
For sure that is. Unfortunately, that interval delay is necessary to unix process all the Ansi Esc Sequence. If no more char exist after the delay then assumes that only the Esc key was pressed and process it alone, otherwise continuous reading all chars to get a key combination, like Alt, Ctrl-Alt or a mouse event, whatever. Maybe lowing down the delay to check if it work without affect his funct

[2022-08-26 07:10] MrFly72 commented on #174
I want to describe my impact on this a little bit more in detail.
I am using OCGV on a Raspberry Pi for a script I wrote to automate Media Download from State TV.
Basically it filters series etc. by rest-api from a source-page, then displays them with OCGV to check for shows to be downloaded.
To easier check them, as it is usually a list of 1800 shows, I filter them, eg. "Show 1", then check the o

[2022-08-26 07:33] tznind commented on #167
Found these docs (see below) on the feature I think you are talking about @BDisp.  Looks like you can change the setting at runtime with an Environment Variable e.g.

[code]
_Set time taken to release an Escape keystroke to 1ms_

I tested setting it to 2000 and saw Esc being delayed so it seems to work.

Although from the docs docs it sounds like the same setting interacts with mouse events:

_htt

[2022-08-26 22:22] BDisp commented on #167
I submitted the pr https://github.com/gui-cs/Terminal.Gui/pull/1970 which I think fixes the ESC delay issue. I also think that the title of this issue isn't really an issue. What happen when the OCGV exits on a arrow key press is because there was a pending ESC key pressed to be processed and pressing the arrow key will awake the ESC, processing it first causing the app exit. So, the main problem

[2022-08-26 22:40] BDisp commented on #174
The `Filter` has a `ContextMenu` with a `Delete All` where you can delete all text at once.

[2022-08-27 05:53] MrFly72 commented on #174
How do I reach the context menu on Linux shell?
Did not find any possibility in an ssh shell

[2022-08-27 10:16] Tigger2014 commented on #167
@BDisp If you happen to have a build of the module with your changes happy to test and see if it does indeed fix this issue.

[2022-08-27 11:27] BDisp commented on #174
By mouse right clicking on the `TextField` or by pressing Ctrl+Shift+D. But I see that this isn't working on the current build. I submitted this pr https://github.com/gui-cs/Terminal.Gui/pull/1968 to allow pressing Ctrl+R, because Linux don't differentiate Ctrl+alfa from Ctrl+Shift+alfa.

[2022-08-27 11:59] MrFly72 commented on #174
Mouse? Hehe. Don't use one on my iPad which connects via SSH to the raspian shell and then use the shell to start pwsh.
So keyboard is essential for this.

[2022-08-27 13:24] BDisp commented on #167
I only have this branch https://github.com/BDisp/GraphicalTools/tree/solution-with-gui-project, where I added the Terminal.Gui project with the "cursesdriver-esc-delay-fix" branch, instead of the nuget package. You must have the clone of the Terminal.Gui with the pr https://github.com/gui-cs/Terminal.Gui/pull/1970 and build.

[2022-08-27 15:06] Tigger2014 commented on #167
Yep did that and can confirm this fixes it

[2022-08-28 11:09] BDisp commented on #174
I forgot to mention that the context menu can be opened with the keyboard by pressing `Shift+F10`, but I don't know why it isn't opening with the current build.

[2022-08-28 13:36] MrFly72 commented on #174
Ok. I mean I can understand that some people want it this way (Filter will forget all previously checked).
As in the thread which changed this was mentioned, there are people who want his behavior and some don't. This is a typical area for a switch. Default could be "drop selections" and a switch like -keepselectsonfilter could keep them.

[2022-08-29 13:20] ajansveld opened #175 "OCGV: Data does not line up with column headers"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

As shown below, the alignment is off (seen on Windows and Linux):

```Get-Process | Out-ConsoleGridView```

### Expected behavior

[code]

### Actual behavior

[code]

### Error details

_No response_

### Environment data

[c

[2022-08-29 19:26] MrFly72 commented on #172
Maybe adding this to the function might be great. Did this for all modules I wrote and it is easier then doing extra helpfile in my eyes:
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_comment_based_help

[2022-09-02 17:40] MrFly72 commented on #174
I must realize, that I more then once walked into this issue, even after knowing that it changed.
HAd this great way before:
- Filter --> Select
- Filter something else --> Select
- ....
- hit enter and go.
now the way is to get back to "without filter" first and then hit enter, and I forget that pretty much all the time.
Additionally to that, this change is also not complety thought through, as t

[2022-09-02 18:54] tznind commented on #174
Would a solution be to 'pin' selected items regardless of filter?  So if an item is checked then it doesn't disapear even when the filter is changed? That should make clear that the ticked items are going to be confirmed even if they don't match the filter?

Sort of like this:
![pinningmultiselect](https://user-images.githubusercontent.com/31306100/188218863-89cc4f47-526c-4f69-8659-18af20994493.gi

[2022-09-02 19:45] MrFly72 commented on #174
Would also be ok in my eyes.
And I think the counter of how many are selected is also not a bad idea.

[2022-09-02 20:56] BDisp commented on #174
That is the best solution. Maintaining a track on each new filter to the ID of the available items from the empty filter.

[2022-11-23 14:13] mpawelski commented on #101
So it means we won't get GUI version of `Out-GridView` on Linux? Just the text-based console `Out-ConsoleGridView`?

Since MAUI is not really cross-platform (despite what Microsoft says) and doesn't support Linux.